<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../footerDate.js" defer="defer"></script>
    <script src="../menu-index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main">
        <%- include('header.ejs') %>
        <!-- ABOUT -->
        <div class="about">
          <div class="about-text-div">
            <div class="bosco-entry">
              <p class="definition" aria-label="dictionary entry">
                <strong>bosco</strong> - noun [masculine] - wood, forest
              </p>
              <p
                class="definition"
                aria-label="dictionary example phrase, Italian to English translation"
              >
                <em>gli animali del bosco:</em> forest animals
              </p>
              <p class="definition" aria-label="dictionary entry attribution">
                dictionary.cambridge.org - Italian to English Dictionary, June
                2024
              </p>
            </div>
            <div class="about-box" aria-label="about text: 2 paragraphs">
              <p class="about-text last-para">
                Hi, I'm Jenn Guneratne, the New England-based photographer
                behind Bosco Images Wildlife Photography. I studied digital
                photography in the early 2010s, but wildlife photography didn't
                find me until more than a decade later. The journey began at the
                edge of the woods in my local area, capturing small animals,
                birds and insects. I enjoy spending time outdoors, which allows
                me to observe the abundant wildlife that lives nearby.
              </p>
            </div>
          </div>
        </div>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
