<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../index.js" defer="defer"></script>
  </head>

  <body>
    <div class="container">
      <%- include('header.ejs') %>

      <main class="main gal-main" data-name="birds-gallery">
        <!-- BIRDS GALLERY -->
        <section class="tab-content gal-portrait" id="birds-gallery">
          <div class="gallery portrait-gallery">
            <div class="animation-ctrl-div portrait-animation-ctrl-div">
              <button
                type="button"
                class="pause-btn portrait-pause-btn"
                title="Press Enter or Space to Pause Gallery Animation"
              >
                <img
                  class="pause-icon portrait-pause-icon"
                  src="../assets/imgs/pause-button-icon.svg"
                  alt="Press Enter or Space to Pause Gallery Animation"
                />
              </button>

              <button
                type="button"
                class="play-btn portrait-play-btn"
                title="Press Enter or Space to Start Gallery Animation"
              >
                <img
                  class="play-icon portrait-play-icon"
                  src="../assets/imgs/play-button-icon.svg"
                  title="Start Gallery Animation"
                  alt="Press Enter or Space to Start Gallery Animation"
                />
              </button>
            </div>

            <section
              class="slider-box portrait-slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Birds Gallery"
            >
              <!-- <div class="slider-row-one"></div> -->
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="../assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box portrait-photo-box">
                <!-- RED WINGED BLACKBIRD -->
                <picture
                  class="picture"
                  aria-role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide1"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.06.03_red-wing-vertical-700p.jpg"
                    alt="Slide 1 of 8: A red winged blackbird perched on a vertical reed by the water, about three-quarters up in the center of the frame, facing right. The light blue color of the water provides a backdrop to the bird, and green vegetation forms a vignette around the edges of the frame."
                    id="slide1"
                  />
                </picture>

                <!-- EASTERN KINGBIRD IN A TREE -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide2"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-vertical-700p.jpg"
                    alt="Slide 2 of 8: An Eastern Kingbird in a tree shown from the front as it glances down at the camera, perched on a tree branch against a blue sky with tree branches filling the frame from the sides."
                    id="slide2"
                  />
                </picture>

                <!-- CARDINAL -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide3"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.01.19_cardinal-vertical-700p.jpg"
                    alt="Slide 3 of 8: A bright red male cardinal perched on top of a rhododendron branch, looking with a confused expression at the camera."
                    id="slide3"
                  />
                </picture>

                <!-- KINGBIRD DIVING -->

                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide4"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-vertical-700p.jpg"
                    alt="Slide 4 of 8: An Eastern Kingbird in midair, diving down toward the water to catch an insect."
                    id="slide4"
                  />
                </picture>

                <!-- ROBIN -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide5"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-vertical-700p.jpg"
                    alt="Slide 5 of 8: A robin sits perched on a dead tree branch with its orange chest puffed forward and head facing upward toward the sky. It's yellow beak is slightly open as it sings into the air."
                    id="slide5"
                  />
                </picture>

                <!-- SPARROW IN A CHERRY TREE -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide6"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-vertical-700p.jpg"
                    alt="Slide 6 of 8: Slide 6 of 8: A chipping sparrow sitting on the branch of a cherry tree. The branch the bird is perched on has few leaves, with abundant leaves filling the frame horizontally along the top and bottom of the image."
                    id="slide6"
                  />
                </picture>

                <!-- HOUSE FINCH -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide7"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-vertical-700p.jpg"
                    alt="Slide 7 of 8: A house finch looking at the camera from its perch on the branch of a cherry tree with sparse spring leaves just beginning to emerge. The sky is overcast and mostly white behind the bird."
                    id="slide7"
                  />
                </picture>

                <!-- GILDED FLICKER -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide8"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 300px) and (max-width: 699px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-vertical-320p.jpg
                    "
                  />

                  <source
                    media="(min-width: 700px) and (max-width: 799px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-vertical-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 800px) and (max-width: 1020px) and (orientation: portrait)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-vertical-580p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-vertical-700p.jpg"
                    alt="Slide 8 of 8: A tree trunk fills the left half of the frame, with the head of a gilded flicker with yellow and orange coloring poking its head out from behind with its back parallel to the ground and face staring straight up at the sky. There are small branches with small green leaves and red berries above and below the bird."
                    id="slide8"
                  />
                </picture>
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="../assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 8."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 8."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 8."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 8."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 8."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 8."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 8."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 8."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </section>

        <section class="tab-content gal-landscape" id="birds-gallery">
          <div class="gallery landscape-gallery">
            <div class="animation-ctrl-div landscape-animation-ctrl-div">
              <button
                type="button"
                class="pause-btn landscape-pause-btn"
                title="Press Enter or Space to Pause Gallery Animation"
              >
                <img
                  class="pause-icon landscape-pause-icon"
                  src="../assets/imgs/pause-button-icon.svg"
                  alt="Press Enter or Space to Pause Gallery Animation"
                />
              </button>

              <button
                type="button"
                class="play-btn landscape-play-btn"
                title="Press Enter or Space to Start Gallery Animation"
              >
                <img
                  class="play-icon landscape-play-icon"
                  src="../assets/imgs/play-button-icon.svg"
                  title="Start Gallery Animation"
                  alt="Press Enter or Space to Start Gallery Animation"
                />
              </button>
            </div>

            <section
              class="slider-box landscape-slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Birds Gallery"
            >
              <!-- <div class="slider-row-one"></div> -->
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="../assets/imgs/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box landscape-photo-box">
                <!-- SPARROW AT SUNRISE -->
                <picture
                  class="picture"
                  aria-role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide1"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.04.27_sparrow-horizontal-900p.jpg"
                    alt="Slide 1 of 8: A sparrow sitting in a tree with early spring buds and leaves, with the golden light of sunrise shining into the left side of the frame."
                    id="slide1"
                  />
                </picture>

                <!-- EASTERN KINGBIRD IN A TREE -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide2"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2023.06.29_kingbird-horizontal-900p.jpg"
                    alt="Slide 2 of 8: An Eastern Kingbird in a tree shown from behind as it looks to the left. The bird is perched on a tree branch against a blue sky with tree branches filling the frame from the sides."
                    id="slide2"
                  />
                </picture>

                <!-- CARDINAL -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide3"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2023.06.27_cardinal-horizontal-900p.jpg"
                    alt="Slide 3 of 8: A bright red male cardinal on the right of the frame perched on a stick gazing toward the left of the frame, with an out-of-focus green background."
                    id="slide3"
                  />
                </picture>

                <!-- KINGBIRD DIVING -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide4"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.06.07_kingbird-dive-horizontal-900p.jpg"
                    alt="Slide 4 of 8: An Eastern Kingbird in midair, diving down toward the water to catch an insect."
                    id="slide4"
                  />
                </picture>

                <!-- ROBIN -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide5"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.12_robin-horizontal-900p.jpg"
                    alt="Slide 5 of 8: A robin sits perched on a dead tree branch with its orange chest puffed forward and head facing upward toward the sky. It's yellow beak is slightly open as it sings into the air."
                    id="slide5"
                  />
                </picture>

                <!-- SPARROW IN A CHERRY TREE -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide6"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.01_sparrow-cherry-horizontal-900p.jpg"
                    alt="Slide 6 of 8: A chipping sparrow sitting on the branch of a cherry tree. The branch the bird is perched on has few leaves, with abundant leaves filling the frame horizontally along the top and bottom of the image."
                    id="slide5"
                  />
                </picture>

                <!-- HOUSE FINCH -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide7"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2024.05.08_house-finch-horizontal-900p.jpg"
                    alt="Slide 7 of 8: A house finch looking at the camera from its perch on the branch of a cherry tree with sparse spring leaves just beginning to emerge. The sky is overcast and mostly white behind the bird."
                    id="slide7"
                  />
                </picture>

                <!-- GILDED FLICKER -->
                <picture
                  class="picture"
                  role="group"
                  aria-roledescription="slide"
                  aria-labelledby="slide8"
                  tabindex="0"
                >
                  <source
                    media="(min-width: 640px) and (max-width: 959px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-horizontal-280p.jpg
                    "
                  />

                  <source
                    media="(min-width: 960px) and (max-width: 1279px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-horizontal-460p.jpg
                    "
                  />

                  <source
                    media="(min-width: 1280px) and (max-width: 1599px) and (orientation: landscape)"
                    srcset="
                      ../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-horizontal-600p.jpg
                    "
                  />

                  <img
                    src="../assets/imgs/birds-gal/Guneratne_2023.11.04_gilded_flicker-horizontal-900p.jpg"
                    alt="Slide 8 of 8: A tree trunk fills the left half of the frame, with the head of a gilded flicker with yellow and orange coloring poking its head out from behind with its back parallel to the ground and face staring straight up at the sky. There are small branches with small green leaves and red berries above and below the bird."
                    id="slide8"
                  />
                </picture>
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="../assets/imgs/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 8."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 8."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 8."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 8."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 8."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 8."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 8."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 8."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </section>
      </main>

      <%- include('footer.ejs') %>
    </div>
  </body>
</html>
