<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="@styles/body-styles.css" rel="stylesheet" />
    <link href="@styles/slider-styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="birds-gallery">
        <%- include('header.ejs') %>
        <!-- BIRDS GALLERY -->

        <section class="section" id="birds-gallery">
          <div class="gallery">
            <div
              class="slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Birds Gallery"
            >
              <%- include ('animation-ctrl.ejs') %>
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="@images/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box">
                <!-- {MAY 2025 UPDATE} FEMALE HOUSE FINCH ON RADISH PLANT -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.07.02_radish-finch-horiz-500w.jpg"
                  alt="Slide 1 of 18: A female house finch sitting in the center of the frame facing slightly to the left is perched on the branch of an overgrown radish plant, where it enjoys eating the radish seeds. The photo is mostly monochromatic with the background a light green and the plant a dark green. The only other color is the brown of the bird's feathers, so she stands out against the background."
                  class="picture"
                  tabindex="0"
                  id="slide1"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.07.02_radish-finch-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.07.02_radish-finch-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.07.02_radish-finch-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.07.02_radish-finch-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} CARDINAL IN RHODODENDRON -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.01.19_cardinal-vert-357w.jpg"
                  alt="Slide 2 of 18: A bright red male cardinal sits at the top of a rhododendron branch, angled toward the front right of the frame. Its chest is puffed into the air and it has an irritated look on its face as it glares at the viewer"
                  class="picture"
                  tabindex="0"
                  id="slide2"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.01.19_cardinal-vert-214w.avif   214w,
                    @images/birds-gal/avif/Guneratne_2024.01.19_cardinal-vert-357w.avif   357w,
                    @images/birds-gal/avif/Guneratne_2024.01.19_cardinal-vert-536w.avif   536w,
                    @images/birds-gal/avif/Guneratne_2024.01.19_cardinal-vert-1429w.avif 1429w
                  "
                />

                <!-- {MAY 2025 UPDATE} SEAGULL FLYING WITH CRAB -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.08.20_seagull-crab-horiz-500w.jpg"
                  alt="Slide 3 of 18: A seagull in midair flying toward the left of the frame with its left wing arched above its head and right wing below its body. The viewer can clearly see a crab in the gull's beak, which it is carrying by its leg toward a large rock, where it plans to eat its breakfast."
                  class="picture"
                  tabindex="0"
                  id="slide3"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.08.20_seagull-crab-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.08.20_seagull-crab-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.08.20_seagull-crab-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.08.20_seagull-crab-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} WINTER SPARROW -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.01.26_cold-sparrow-horiz-500w.jpg"
                  alt="Slide 4 of 18: A house sparrow sits near the center of the frame facing right with its feathers fluffed out for extra warmth. The bird is sitting on a red thorny branch that runs horizontally through the frame. The background has soft out-of-focus pastel green and orange colors, with the glow of morning sunlight shining on the bird from the right. "
                  class="picture"
                  tabindex="0"
                  id="slide4"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.01.26_cold-sparrow-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.01.26_cold-sparrow-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.01.26_cold-sparrow-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.01.26_cold-sparrow-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} MALLARD IN WATER -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.04.17_mallard-water-horiz-500w.jpg"
                  alt="Slide 5 of 18: A female mallard duck floats in the blue water, swimming straight ahead toward the viewer. Her head is slightly angled to the side so only her left eye is visible on the right of the frame. Her feathers are light brown, dark brown and black, and her beak is orange at the front and black on top."
                  id="slide5"
                  class="picture"
                  tabindex="0"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.04.17_mallard-water-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_mallard-water-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_mallard-water-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_mallard-water-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} ROBIN SINGING -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.05.12_robin-song-horiz-500w.jpg"
                  alt="Slide 6 of 18: An American Robin sits perched on a dead tree branch with its orange chest puffed forward and head facing upward toward the sky. It's yellow beak is slightly open as it sings into the air."
                  class="picture"
                  tabindex="0"
                  id="slide6"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.05.12_robin-song-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.05.12_robin-song-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.05.12_robin-song-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.05.12_robin-song-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} ROBIN CHICK -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.05.26_nest-robin-horiz-500w.jpg"
                  alt="Slide 7 of 18: An American Robin chick sits in its nest in a rhododendron on a bright sunny day. The chick's face is just above the top of the nest, as it sits with its eyes closed, dozing in the sunlight. The chick is facing toward the left of the frame and the rhododendron leaves and flowers form a vignette around the nest and chick."
                  class="picture"
                  tabindex="0"
                  id="slide7"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.05.26_nest-robin-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.05.26_nest-robin-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.05.26_nest-robin-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.05.26_nest-robin-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} KINGBIRD DIVING -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.06.07_kingbird-dive-horiz-500w.jpg"
                  alt="Slide 8 of 18: An Eastern Kingbird in midair, diving toward the water below to catch an insect. The bird is upside-down in midair with its tail pointed upwards and wings splayed to each side. It's belly is forward toward the viewer and its head is slightly angled toward the right as it swoops downward."
                  class="picture"
                  tabindex="0"
                  id="slide8"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.06.07_kingbird-dive-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.06.07_kingbird-dive-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.06.07_kingbird-dive-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.06.07_kingbird-dive-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} GOOSE BUST -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.04.17_goose-bust-vert-333w.jpg"
                  alt="Slide 9 of 18: A closeup of a Canadian Goose's right side, as it sits in the grass and glances left over her shoulder."
                  class="picture"
                  tabindex="0"
                  id="slide9"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.04.17_goose-bust-vert-200w.avif   200w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_goose-bust-vert-333w.avif   333w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_goose-bust-vert-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.04.17_goose-bust-vert-1333w.avif 1333w
                  "
                />

                <!-- {MAY 2025 UPDATE} GRACKLE IN PINE -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.03.14_pine-grackle-horiz-500w.jpg"
                  alt="Slide 10 of 18: A single pine branch covered in pine cones is entering the frame from the left and running horizontally about three-quarters of the way across the frame. A common grackle stands on a pine cone at the tip of the branch in left side profile, as it looks at another pine cone a head of it. The bird's head is an iridescent blue and its body an iridescent purple color There is a clear pale blue sky without clouds behind the branch and bird. "
                  class="picture"
                  tabindex="0"
                  id="slide10"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.03.14_pine-grackle-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.03.14_pine-grackle-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.03.14_pine-grackle-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.03.14_pine-grackle-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} SUNSET GOOSE -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.10.26_sunset-goose-vert-357w.jpg"
                  alt="Slide 11 of 18: A closeup portrait of a goose at sunset. The goose is facing toward the left side of the frame and has the warm glow of sunset on its face and chest."
                  class="picture"
                  tabindex="0"
                  id="slide11"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.10.26_sunset-goose-vert-214w.avif   214w,
                    @images/birds-gal/avif/Guneratne_2024.10.26_sunset-goose-vert-357w.avif   357w,
                    @images/birds-gal/avif/Guneratne_2024.10.26_sunset-goose-vert-536w.avif   536w,
                    @images/birds-gal/avif/Guneratne_2024.10.26_sunset-goose-vert-1429w.avif 1429w
                  "
                />

                <!-- {MAY 2025 UPDATE} HERON FLYING -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.08.02_heron-fly-horiz-500w.jpg"
                  alt="Slide 12 of 18: A great blue heron viewed from the right side profile in flight, moving from the left of the frame toward the right. The heron gracefully glides above the surface of a lake with its wings arced downward. The water gently reflects the bottom of the bird and the trees of the background."
                  class="picture"
                  tabindex="0"
                  id="slide12"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.08.02_heron-fly-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.08.02_heron-fly-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.08.02_heron-fly-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.08.02_heron-fly-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} SEAGULL PORTRAIT -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.08.17_seagull-horiz-500w.jpg"
                  alt="Slide 13 of 18: A seagull stands on the right side of the frame against a pale blue background, angled toward the right of the frame with its face looking directly at the viewer. The seagull has white feathers on its head neck and chest with brown speckles, a grey back, and black tail."
                  class="picture"
                  tabindex="0"
                  id="slide13"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.08.17_seagull-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2024.08.17_seagull-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.08.17_seagull-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2024.08.17_seagull-horiz-2000w.avif 2000w
                  "
                />

                <!--{MAY 2025 UPDATE} BABY ROBIN -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.07.20_baby-robin-vert-400w.jpg"
                  alt="Slide 14 of 18: A fledgling American Robin with down feathers has just left the nest and is sitting in the grass in the center of the frame against a row of out-of-focus privet hedges where it shelters to stay safe. The bird does not know how to fly yet, so it is chirping to call for an adult bird to feed it."
                  class="picture"
                  tabindex="0"
                  id="slide14"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.07.20_baby-robin-vert-240w.avif   240w,
                    @images/birds-gal/avif/Guneratne_2024.07.20_baby-robin-vert-400w.avif   400w,
                    @images/birds-gal/avif/Guneratne_2024.07.20_baby-robin-vert-600w.avif   600w,
                    @images/birds-gal/avif/Guneratne_2024.07.20_baby-robin-vert-1600w.avif 1600w
                  "
                />

                <!-- {MAY 2025 UPDATE} SWAN NESTING -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.03.25_swan-nest-horiz-500w.jpg"
                  alt="Slide 15 of 18: A mute swan sits in a newly formed nest behind some old reeds just before sunset. She is glancing up at the viewer and has a white feather resting on her orange bill. There is a small amount of shallow water behind her, revealing that the nest is on the side of a lake. "
                  class="picture"
                  tabindex="0"
                  id="slide15"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.03.25_swan-nest-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_swan-nest-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_swan-nest-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_swan-nest-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} EAGLE IN A TREE -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.03.25_eagle-horiz-500w.jpg"
                  alt="Slide 16 of 18: A bald eagle on the right of the frame is perched on a tree limb that runs horizontally through the frame. The bird is looking out toward the left of the frame, and its feathers are nicely lit by the sun. The small branches on the tree are starting to develop new growth, which appears red in the sunlight. The sky in the background is a deep blue with no clouds."
                  class="picture"
                  tabindex="0"
                  id="slide16"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.03.25_eagle-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_eagle-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_eagle-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.03.25_eagle-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} NESTING GOOSE -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2025.04.24_goose-nest-horiz-500w.jpg"
                  alt="Slide 17 of 18: A closeup view of a Canada Goose seen from behind as she lies on the ground at the edge of the water. Her head and neck are facing toward the back left as she gazes at the viewer. There are vertical sticks behind and in front of her nesting position, and the blue water of the river serves as a backdrop to her face."
                  class="picture"
                  tabindex="0"
                  id="slide17"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2025.04.24_goose-nest-horiz-300w.avif   300w,
                    @images/birds-gal/avif/Guneratne_2025.04.24_goose-nest-horiz-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2025.04.24_goose-nest-horiz-750w.avif   750w,
                    @images/birds-gal/avif/Guneratne_2025.04.24_goose-nest-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} AUTUMN WOODPECKER -->
                <img
                  loading="lazy"
                  src="@images/birds-gal/jpg/Guneratne_2024.10.30_autumn-woodpecker-vert-333w.jpg"
                  alt="Slide 18 of 18: A female woodpecker clings to the right side of an old cedar trunk as it glances over its shoulder toward the right side of the frame. Its black and white feathers stand out against the yellow glow of autumn leaves in the background as out-of-focus pine branches enter the frame from the top left corner."
                  class="picture"
                  tabindex="0"
                  id="slide18"
                  srcset="
                    @images/birds-gal/avif/Guneratne_2024.10.30_autumn-woodpecker-vert-200w.avif   200w,
                    @images/birds-gal/avif/Guneratne_2024.10.30_autumn-woodpecker-vert-333w.avif   333w,
                    @images/birds-gal/avif/Guneratne_2024.10.30_autumn-woodpecker-vert-500w.avif   500w,
                    @images/birds-gal/avif/Guneratne_2024.10.30_autumn-woodpecker-vert-1333w.avif 1333w
                  "
                />
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="@images/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 18."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 18."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 18."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 18."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 18."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 18."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 18."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 18."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="8"
                    aria-label="Select Slide 9 of 18."
                  >
                    <div class="circle-icon" data-circle="8"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="9"
                    aria-label="Select Slide 10 of 18."
                  >
                    <div class="circle-icon" data-circle="9"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="10"
                    aria-label="Select Slide 11 of 18."
                  >
                    <div class="circle-icon" data-circle="10"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="11"
                    aria-label="Select Slide 12 of 18."
                  >
                    <div class="circle-icon" data-circle="11"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="12"
                    aria-label="Select Slide 13 of 18."
                  >
                    <div class="circle-icon" data-circle="12"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="13"
                    aria-label="Select Slide 14 of 18."
                  >
                    <div class="circle-icon" data-circle="13"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="14"
                    aria-label="Select Slide 15 of 18."
                  >
                    <div class="circle-icon" data-circle="14"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="15"
                    aria-label="Select Slide 16 of 18."
                  >
                    <div class="circle-icon" data-circle="15"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="16"
                    aria-label="Select Slide 17 of 18."
                  >
                    <div class="circle-icon" data-circle="16"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="17"
                    aria-label="Select Slide 18 of 18."
                  >
                    <div class="circle-icon" data-circle="17"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>

    <script src="@scripts/menu-index.js" defer="defer"></script>
    <script src="@scripts/footerDate.js" defer="defer"></script>
    <script src="@scripts/gallery-index.js" defer="defer"></script>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "e074ae77e9694ac49886ebf2e4425330"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
