<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main main-two">
        <%- include('header.ejs') %>
        <!-- CONTACT -->
        <section class="section contact-tab" id="contact">
          <div class="form-instructions">
            <h1
              id="contact-header"
              class="contact-header"
              aria-label="Get In Touch!"
            >
              Get In Touch!
            </h1>
            <p id="required-text" class="required-text">
              Required fields are followed by *
            </p>
            <p class="form-disabled" tabindex="0">
              The contact form is not yet active.
            </p>
          </div>

          <form action="#" method="POST" id="contact" novalidate>
            <fieldset>
              <label for="first-name">
                <div class="input-type">
                  First Name:
                  <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="first-name"
                    type="text"
                    name="first-name"
                    placeholder="This form is not yet active."
                    required
                    minlength="1"
                  />
                </div>
                <span
                  id="firstNameError"
                  class="firstNameError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="last-name">
                <div class="input-type">
                  Last Name: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="last-name"
                    type="text"
                    name="last-name"
                    placeholder="This form is not yet active."
                    required
                    minlength="1"
                  />
                </div>
                <span
                  id="lastNameError"
                  class="lastNameError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="email">
                <div class="input-type">
                  Email: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="youremail@email.com"
                    required
                    minlength="5"
                  />
                </div>
                <span
                  id="emailError"
                  class="emailError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="message">
                <div class="input-type">
                  Message: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <textarea
                    name="message"
                    id="message"
                    rows="15"
                    cols="50"
                    placeholder="This form is not yet active."
                    type="text"
                    required
                    minlength="10"
                  ></textarea>
                </div>
                <span
                  id="messageError"
                  class="messageError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <button class="send-contact" type="submit">Submit</button>
              <span
                id="submitError"
                class="submitError"
                role="alert"
                tabindex="0"
                aria-live="polite"
              ></span>
            </fieldset>
          </form>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
