<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../assets/imgs/icons/tree-logo-favicon.svg" rel="icon" />
    <link href="../styles/body-styles.css" rel="stylesheet" />
    <link href="../styles/contact-styles.css" rel="stylesheet" />
    <script src="../js/menu-index.js" defer="defer"></script>
    <script src="../js/footerDate.js" defer="defer"></script>
    <script src="../js/validation-index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main main-two">
        <%- include('header.ejs') %>
        <!-- CONTACT -->
        <section class="section contact-tab" id="contact">
          <div class="form-instructions">
            <h1
              id="contact-header"
              class="contact-header"
              aria-label="Get In Touch!"
            >
              Get In Touch!
            </h1>
            <p id="required-text" class="required-text">
              Required fields are followed by *
            </p>
            <p class="form-disabled" tabindex="0">
              The contact form is not yet active.
            </p>
          </div>

          <form method="POST" id="form" novalidate>
            <input
              type="hidden"
              name="access_key"
              value="74cfe89f-ad45-44f3-81df-7c2c100b6a7c"
            />
            <fieldset>
              <label for="name">
                <div class="input-type">
                  Name:
                  <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="name"
                    type="text"
                    name="name"
                    placeholder="Your Name"
                    required
                    minlength="1"
                  />
                </div>
                <span
                  id="nameError"
                  class="nameError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="email">
                <div class="input-type">
                  Email: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="youremail@email.com"
                    required
                    minlength="5"
                  />
                </div>
                <span
                  id="emailError"
                  class="emailError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="email-subject">
                <div class="input-type">
                  Subject: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="email-subject"
                    type="text"
                    name="subject"
                    placeholder="Enter a subject to describe your message"
                    required
                    minlength="5"
                  />
                </div>
                <span
                  id="subjectError"
                  class="subjectError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <label for="message">
                <div class="input-type">
                  Message: <span aria-hidden="true">*</span>
                </div>
                <div class="input-box">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="I look forward to hearing from you!"
                    type="text"
                    required
                    minlength="10"
                  ></textarea>
                </div>
                <span
                  id="messageError"
                  class="messageError"
                  role="alert"
                  tabindex="0"
                  aria-live="polite"
                ></span>
              </label>

              <input
                type="checkbox"
                name="botcheck"
                id=""
                style="display: none"
              />

              <div class="h-captcha" data-captcha="true"></div>
              <span
                id="hCaptchaError"
                class="hCaptchaError"
                role="alert"
                tabindex="0"
                aria-live="polite"
              ></span>

              <button class="send-contact" type="submit">Submit</button>
              <span
                id="submitMessage"
                class="submitMessage"
                role="alert"
                tabindex="0"
                aria-live="polite"
              ></span>
            </fieldset>
          </form>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>

    <script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
</html>
