<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="@styles/body-styles.css" rel="stylesheet" />
    <link href="@styles/thumbnail-styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main">
        <%- include('header.ejs') %>
        <!-- GALLERIES -->
        <section class="section" id="galleries">
          <div class="thumbnails" role="region">
            <a
              href="birds-gallery.html"
              class="thumbnail-link"
              aria-label="Click to visit the birds image gallery."
            >
              <div class="thumbnail-box">
                <img
                  loading="lazy"
                  class="thumbnail-img"
                  srcset="
                    @images/thumbnails/avif/Guneratne_2025.04.24_birds-thumb.avif
                  "
                  src="@images/thumbnails/jpg/Guneratne_2025.04.24_birds-thumb.jpg"
                  alt="A bright red male cardinal on the right of the frame perched on a stick gazing toward the left of the frame, with an out-of-focus green background."
                />
                <p class="gal-title">Birds Gallery</p>
              </div>
            </a>

            <a
              href="insects-gallery.html"
              class="thumbnail-link"
              aria-label="Click to visit the insects image gallery."
            >
              <div class="thumbnail-box">
                <img
                  loading="lazy"
                  class="thumbnail-img"
                  srcset="
                    @images/thumbnails/avif/Guneratne_2023.10.14_insect-gal-thumb.avif
                  "
                  src="@images/thumbnails/jpg/Guneratne_2023.10.14_insect-gal-thumb.jpg"
                  alt="A close up of a swallowtail butterfly caterpillar, which
                  is green with black stripes, and yellow dots on every other
                  stripe. It is crawling along the branch of a dill plant,
                  feeding on the flower at the end."
                />
                <p class="gal-title">Insects Gallery</p>
              </div>
            </a>

            <a
              href="mammals-gallery.html"
              class="thumbnail-link"
              aria-label="Click to visit the mammals image gallery."
            >
              <div class="thumbnail-box">
                <img
                  loading="lazy"
                  class="thumbnail-img"
                  srcset="
                    @images/thumbnails/avif/Guneratne_2023.06.16_mammals-gal-thumb.avif
                  "
                  src="@images/thumbnails/jpg/Guneratne_2023.06.16_mammals-gal-thumb.jpg"
                  alt="An old black drain pipe protrudes from the ground in the center of the frame, revealing the top of a chipmunk's head peeking up toward the right."
                />
                <p class="gal-title">Mammals Gallery</p>
              </div>
            </a>

            <a
              href="pond-life-gallery.html"
              class="thumbnail-link"
              aria-label="Click to visit the pond life image gallery."
            >
              <div class="thumbnail-box">
                <img
                  loading="lazy"
                  class="thumbnail-img"
                  srcset="
                    @images/thumbnails/avif/Guneratne_2024.06.07_pond-life-thumb.avif
                  "
                  src="@images/thumbnails/jpg/Guneratne_2024.06.07_pond-life-thumb.jpg"
                  alt="A large bull frog sits on a lilly pad in the center of the frame angled toward the bottom left corner of the frame surrounded by blue water with a vignette of other lilly pads around the top, right, and bottom of the frame. The lilly that the frog is sitting on is partially submerged in water, held under by the weight of the frog. The frogs legs can be seen beneath the water while its body and head are above water."
                />
                <p class="gal-title">Pond Life Gallery</p>
              </div>
            </a>

            <a
              href="urban-animals-gallery.html"
              class="thumbnail-link"
              aria-label="Click to visit the urban animals image gallery."
            >
              <div class="thumbnail-box">
                <img
                  loading="lazy"
                  class="thumbnail-img"
                  srcset="
                    @images/thumbnails/avif/Guneratne_2023.07.27_urban-anim-thumb.avif
                  "
                  src="@images/thumbnails/jpg/Guneratne_2023.07.27_urban-anim-thumb.jpg"
                  alt="The back slats of a red adirondack chair arch through the frame from center left to the bottom right corner. A house sparrow is perchec on top of the second from the right slat, angled toward the left of the frame with it's head nobly held in the air."
                />
                <p class="gal-title">Urban Animals Gallery</p>
              </div>
            </a>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>

    <script src="@scripts/menu-index.js" defer="defer"></script>
    <script src="@scripts/footerDate.js" defer="defer"></script>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "e074ae77e9694ac49886ebf2e4425330"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
