<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="@styles/body-styles.css" rel="stylesheet" />
    <link href="@styles/slider-styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="insects-gallery">
        <%- include('header.ejs') %>
        <!-- INSECTS GALLERY -->

        <section class="section" id="insects-gallery">
          <div class="gallery">
            <div
              class="slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Insects Gallery"
            >
              <%- include ('animation-ctrl.ejs') %>
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="@images/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box">
                <!-- {MAY 2025 UPDATE} CATERPILLAR ON PARSLEY (landscape)-->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2024.07.29_caterpillar-drops-horiz-500w.jpg"
                  alt="Slide 1 of 13: A close up of an Eastern Tiger Swallowtail Butterfly caterpillar crawling up a parsley leaf from the bottom left toward the top right on the frame. The parsley leaf and catperpillar are both covered in rain drops from a recent rain storm. The caterpillar has black and white stripes with yellow dots on every other black stripe, and the viewer sees its right side profile as it inches up the parsley leaf."
                  class="picture"
                  tabindex="0"
                  id="slide1"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2024.07.29_caterpillar-drops-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2024.07.29_caterpillar-drops-horiz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2024.07.29_caterpillar-drops-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2024.07.29_caterpillar-drops-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} BEE ON SAGE FLOWER -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.06.09_sage-bee-vert-400w.jpg"
                  alt="Slide 2 of 13: A bee sitting on a purple sage flower with its arms over its head, as if about to thrust its arms forward into the flower."
                  class="picture"
                  tabindex="0"
                  id="slide2"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.06.09_sage-bee-vert-240w.avif   240w,
                    @images/insects-gal/avif/Guneratne_2023.06.09_sage-bee-vert-400w.avif   400w,
                    @images/insects-gal/avif/Guneratne_2023.06.09_sage-bee-vert-600w.avif   600w,
                    @images/insects-gal/avif/Guneratne_2023.06.09_sage-bee-vert-1600w.avif 1600w
                  "
                />

                <!-- {MAY 2025 UPDATE} ANTS WITH APHIDS-->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.08.30_ants-aphids-vert-333w.jpg"
                  alt="Slide 3 of 13: A closeup macro image of four ants climbing up the stem  of a plant, with a cluster of aphis on the stem where they are walking."
                  class="picture"
                  tabindex="0"
                  id="slide3"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.08.30_ants-aphids-vert-200w.avif   200w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ants-aphids-vert-333w.avif   333w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ants-aphids-vert-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ants-aphids-vert-1333w.avif 1333w
                  "
                />

                <!-- {MAY 2025 UPDATE} GRASSHOPPER HORIZONTAL -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.08.26_grasshopper-horiz-500w.jpg"
                  alt="Slide 4 of 13: A closeup of a grasshopper sitting on a serrated leaf facing upward toward the right at a diagonal angle in the frame."
                  class="picture"
                  tabindex="0"
                  id="slide4"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.08.26_grasshopper-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2023.08.26_grasshopper-horiz-500w.avif   536w,
                    @images/insects-gal/avif/Guneratne_2023.08.26_grasshopper-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2023.08.26_grasshopper-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} CATERPILLAR UP FENNEL-->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.09.05_caterpillar-fennel-vert-333w.jpg"
                  alt="Slide 5 of 13: A close up of the right side profile of an Eastern Tiger Swallowtail Butterfly caterpillar crawling vertically up a fennel stalk. The fennel rises vertically on the right side of the frame with its fronds sparsely spreading toward the left and right. The caterpillar is green, and each body segment has a black stripe with yellow dots. It's on the left-side of the fennel stalk with its legs clearly gripping the stalk, and the front of its body slightly arced as it inches upwards."
                  class="picture"
                  tabindex="0"
                  id="slide5"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.09.05_caterpillar-fennel-vert-200w.avif   200w,
                    @images/insects-gal/avif/Guneratne_2023.09.05_caterpillar-fennel-vert-333w.avif   333w,
                    @images/insects-gal/avif/Guneratne_2023.09.05_caterpillar-fennel-vert-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.09.05_caterpillar-fennel-vert-1333w.avif 1333w
                  "
                />

                <!-- {MAY 2025 UPDATE} BUTTERFLY -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.08.09_butterfly-hoirz-500w.jpg"
                  alt="Slide 6 of 13: A bright yellow eastern tiger swallowtail butterfly with black stripes sits on top of a purple thistle flower."
                  class="picture"
                  tabindex="0"
                  id="slide6"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.08.09_butterfly-hoirz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2023.08.09_butterfly-hoirz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.08.09_butterfly-hoirz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2023.08.09_butterfly-hoirz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} TWO CATERPILLARS -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2024.07.30_two-caterpillars-horiz-500w.jpg"
                  alt="Slide 7 of 13: A closeup of parseley leaves with two Eastern Tiger Swallowtail Butterfly caterpillars eating the leaves. The left-most leaf is bending downward toward the ground as a caterpillar inches toward the tip of the leaf. The right-most parsely leaf is pointing upright toward the sky and the top of the leaf has been completely eaten away. One of the caterpillsars is inching upwards toward the bitten edge. The caterpillars have black and white stripes with yellow dots on every other black stripe."
                  class="picture"
                  tabindex="0"
                  id="slide7"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2024.07.30_two-caterpillars-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_two-caterpillars-horiz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_two-caterpillars-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_two-caterpillars-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} BEE ON BROCCOLI -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.10.25_broccoli-bee-horiz-500w.jpg"
                  alt="Slide 8 of 13: A closeup image of a bumble bee on a yellow broccoli flower. The bee is seen from above, with the fuzz on its back and veins in its wings in sharp focus. There are broccoli stalks and more yellow flowers filling the frame."
                  class="picture"
                  tabindex="0"
                  id="slide8"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.10.25_broccoli-bee-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2023.10.25_broccoli-bee-horiz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.10.25_broccoli-bee-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2023.10.25_broccoli-bee-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} CATERPILLAR PARSLEY FACING UP -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2024.07.30_caterpillar-parsley-vert-333w.jpg"
                  alt="Slide 9 of 13: A closeup of a an Eastern Tiger Swallowtail Butterfly caterpillar climbs vertically up the stalk of a parsley leaf. The leaf is mostly out of focus. The caterpillar has white and black stripes, with black spines and yellow dots. The top of the caterpillar is arched as it inches up the stalk."
                  class="picture"
                  tabindex="0"
                  id="slide9"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2024.07.30_caterpillar-parsley-vert-200w.avif   200w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_caterpillar-parsley-vert-333w.avif   333w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_caterpillar-parsley-vert-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2024.07.30_caterpillar-parsley-vert-1333w.avif 1333w
                  "
                />

                <!-- {MAY 2025 UPDATE} ANT CLINGING -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.08.30_ant-cling-vert-333w.jpg"
                  alt="Slide 10 of 13: A closeup macro image of an ant clinging to the side of a plant step as it climbs upwards. The stem is magnified and there are what appear to be black dots at the top, which are actually aphids."
                  class="picture"
                  tabindex="0"
                  id="slide10"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.08.30_ant-cling-vert-200w.avif   200w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ant-cling-vert-333w.avif   333w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ant-cling-vert-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.08.30_ant-cling-vert-1333w.avif 1333w
                  "
                />

                <!-- {MAY 2025 UPDATE} BEE ON ASTER FLOWER -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.10.01_bee-aster-horiz-500w.jpg"
                  alt="Slide 11 of 13: A branch of small aster flowers enters the frame from the left, which are mostly out of focus. At the end of the branch, about three three-quarters of the way toward the right of the frame, a bumble bee sits on a flower. The bee is facing toward the viewer with its head down toward the flower. The yellow fuzz on the bee's back is clearly visible with its wings pointing up toward the sky."
                  class="picture"
                  tabindex="0"
                  id="slide11"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.10.01_bee-aster-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2023.10.01_bee-aster-horiz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.10.01_bee-aster-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2023.10.01_bee-aster-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} CATERPILLAR ON DILL-->

                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2023.10.14_caterpillar-dill-horiz-500w.jpg"
                  alt="Slide 12 of 13: The branch of a dill plant enters the frame on the right and leans down horizontally toward the left where the fronds of the plant are seen. An Eastern Tiger Swallowtail Butterfly caterpillar is inching its way down toward the stem, with its front side arched up as it moves along, about to scoot onto the frond. The caterpillar has green and black gripes with yellow dots along its back. The background has a soft painterly feel with faint pink and green colors. "
                  class="picture"
                  tabindex="0"
                  id="slide12"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2023.10.14_caterpillar-dill-horiz-300w.avif   300w,
                    @images/insects-gal/avif/Guneratne_2023.10.14_caterpillar-dill-horiz-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2023.10.14_caterpillar-dill-horiz-750w.avif   750w,
                    @images/insects-gal/avif/Guneratne_2023.10.14_caterpillar-dill-horiz-2000w.avif 2000w
                  "
                />

                <!-- {MAY 2025 UPDATE} GRASSHOPPER VERTICAL -->
                <img
                  loading="lazy"
                  src="@images/insects-gal/jpg/Guneratne_2024.09.08_grasshopper-vert2-333w.jpg"
                  alt="Slide 13 of 13: A closeup of a grasshopper in the center of the frame that clings to a leaf toward the center-left of the frame. It is partially shaded by the surrounding vegetation, with sun glowing through in the left background. The grasshopper's body is vertical in the frame and faces toward the left. It is mostly green but has some yellow on its front legs and red on its back leg. There is a visible waterdrop at the bottom of the grashopper's leg."
                  class="picture"
                  tabindex="0"
                  id="slide13"
                  srcset="
                    @images/insects-gal/avif/Guneratne_2024.09.08_grasshopper-vert2-200w.avif   200w,
                    @images/insects-gal/avif/Guneratne_2024.09.08_grasshopper-vert2-333w.avif   333w,
                    @images/insects-gal/avif/Guneratne_2024.09.08_grasshopper-vert2-500w.avif   500w,
                    @images/insects-gal/avif/Guneratne_2024.09.08_grasshopper-vert2-1333w.avif 1333w
                  "
                />
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="@images/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 13."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 13."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 13."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 13."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 13."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 13."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 13."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 13."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="8"
                    aria-label="Select Slide 9 of 13."
                  >
                    <div class="circle-icon" data-circle="8"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="9"
                    aria-label="Select Slide 10 of 13."
                  >
                    <div class="circle-icon" data-circle="9"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="10"
                    aria-label="Select Slide 11 of 13."
                  >
                    <div class="circle-icon" data-circle="10"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="11"
                    aria-label="Select Slide 12 of 13."
                  >
                    <div class="circle-icon" data-circle="11"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="12"
                    aria-label="Select Slide 13 of 13."
                  >
                    <div class="circle-icon" data-circle="12"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>

    <script src="@scripts/menu-index.js" defer="defer"></script>
    <script src="@scripts/footerDate.js" defer="defer"></script>
    <script src="@scripts/gallery-index.js" defer="defer"></script>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "e074ae77e9694ac49886ebf2e4425330"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
