<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../menu-index.js" defer="defer"></script>
    <script src="../footerDate.js" defer="defer"></script>
    <script src="../gallery-index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="pond-life-gallery">
        <%- include('header.ejs') %>
        <!-- POND LIFE GALLERY -->

        <section class="section" id="pond-life-gallery">
          <div class="gallery">
            <div
              class="slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Pond Life Gallery"
              hidden
            >
              <%- include ('animation-ctrl.ejs') %>
              <div class="img-display-container">
                <button type="button" class="back-arrow" data-back-arrow>
                  <img
                    data-icon-back
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                    alt="Back Arrow"
                  />
                </button>

                <div class="photo-box">
                  <!-- BULL FROG 2-->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog2-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog2-horizontal-547h.jpg"
                      alt="Slide 1 of 7: A large bull frog sits on a lilly pad in the center of the frame surrounded by blue water with a vignette of other lilly pads around the top, right, and bottom of the frame. The lilly that the frog is sitting on is partially submerged in water, held under by the weight of the frog. The frogs legs can be seen beneath the water while its body and head are above water, angled toward the bottom left corner of the frame."
                      id="slide6"
                    />
                  </picture>

                  <!-- FROG SIDE PROFILE -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-side-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-side-horizontal-547h.jpg"
                      alt="Slide 2 of 7: A small green frog sits in right side profile on a large grey rock that takes up the majority of the frame. The frog recently left the water, and has a small piece of duckweed stuck to its head that is protruding away from its forehead."
                      id="slide6"
                    />
                  </picture>

                  <!-- LARGE SNAPPING TURTLE -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.03_lg-turtle-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.06.03_lg-turtle-horizontal-547h.jpg"
                      alt="Slide 3 of 7: A large snapping turtle takes up the marjority of the frame as it sits on a sandy beach. The turtle's front legs are splayed out to each side of its shell as it stares ahead at the viewer. Although the turtle is currently unmoving, the sane behind it has been pushed around from when it was walking."
                      id="slide6"
                    />
                  </picture>

                  <!-- FROG ROCK CLING -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-rock-cling-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-rock-cling-horizontal-547h.jpg"
                      alt="Slide 4 of 7: A green frog with a brownish color clings to the side of a rock, almost camoflaged. The frog is unmoving, facing toward the back left of the frame with its eye visible as it watches the viewer from the side. The rock in clings to is covered in a blanket of duckwee that also covers the surface of the pond water in the bottom left of the frame."
                      id="slide6"
                    />
                  </picture>

                  <!-- BULL FROG 1-->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_bull-frog1-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.06.07_bull-frog1-horizontal-547h.jpg"
                      alt="Slide 5 of 7: A large bull frog sits on a lilly pad in the top center left of the frame surrounded by blue water with a vignette of other lilly pads around the top, right, and bottom of the frame. The lilly that the frog is sitting on is partially submerged in water, held under by the weight of the frog. The frogs legs can be seen beneath the water while its body and head are above water, angled toward the bottom left corner of the frame."
                      id="slide6"
                    />
                  </picture>

                  <!-- SMALL POND TURTLES-->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.06.07_pond-turtles-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.06.07_pond-turtles-horizontal-547h.jpg"
                      alt="Slide 6 of 7: Two small turtles sit on rocks on either side of the frame, one in a golden sun beam facing left, and the other in the shade facing right. The surface of the water in the background is covered in a thick blanket of lilly pads that protrude slightly above the surface of the water."
                      id="slide6"
                    />
                  </picture>

                  <!-- FROG PEEKING -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-171h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-300h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-500h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-500h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-1000h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-320h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1250px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-427h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1251px) and (max-width: 1600px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-547h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/pond/avif/Guneratne_2024.07.28_frog-peeking-horizontal-800h.avif,
                        ../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-800h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/pond/jpg/Guneratne_2024.07.28_frog-peeking-horizontal-547h.jpg"
                      alt="Slide 7 of 7: The majority of the frame is filled with duckweed on the surface of a pond, with a small narrow horizontal strip in focus in the center of the frame, with the top and bottom of the frame out of focus. In the in-focus area, the top of a frog's head protrudes above the surface of the water, lifting out of the duckweed, with its eyes fixed intendly on the viewer."
                      id="slide6"
                    />
                  </picture>
                </div>

                <button type="button" class="forward-arrow" data-forward-arrow>
                  <img
                    data-icon-forward
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                    alt="Forward Arrow"
                  />
                </button>
              </div>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 7."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 7."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 7."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 7."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 7."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 7."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 7."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
