<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../js/menu-index.js" defer="defer"></script>
    <script src="../js/footerDate.js" defer="defer"></script>
    <script src="../js/gallery-index.js" defer="defer"></script>
    <link href="../assets/imgs/icons/tree-logo-favicon.svg" rel="icon" />
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="small-animals-gallery">
        <%- include('header.ejs') %>
        <!-- SMALL ANIMALS GALLERY -->
        <section class="section" id="small-animals-gallery">
          <div class="gallery">
            <div
              class="slider-box slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Small Animals Gallery"
            >
              <%- include ('animation-ctrl.ejs') %>
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box">
                <!-- BUNNY EATING GRASS -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.06.28_bunny-grass-horizontal-500w.jpg"
                  alt="Slide 1 of 15: The side view of a rabbit, facing to the left of the frame with a long piece of grass in its mouth."
                  class="picture"
                  tabindex="0"
                  id="slide1"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SQUIRREL IN TREE -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.05.03_squirrel-tree-horizontal-500w.jpg"
                  alt="Slide 2 of 15: A squirrel climbing a thin branch of a cherry tree that has young leaves and spring buds. The squirrel is partially hidden behind the leaves, holding onto one of them, with its face peering over the leaf at the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide2"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.03_squirrel-tree-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.03_squirrel-tree-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.03_squirrel-tree-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.03_squirrel-tree-horizontal-2000w.avif 2000w
                  "
                />

                <!-- CHIPMUNK EATING -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.05.24_chippy-eating-horizontal-500w.jpg"
                  alt="Slide 3 of 15: A chipmunk in the center of the frame facing left, standing on its hind legs with its hands up to its mouth as it eats something. There are white stones on the ground in front of the chipmunk and the broun ground of the woods is out of focus behind it."
                  class="picture"
                  tabindex="0"
                  id="slide3"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.24_chippy-eating-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.24_chippy-eating-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.24_chippy-eating-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.24_chippy-eating-horizontal-2000w.avif 2000w
                  "
                />

                <!-- BUNNY ON SLOPE -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.07.30_bunny-slope-vertical-400w.jpg"
                  alt="Slide 4 of 15: A rabbit sits on a slope of grass that is entering the frame diagonally from the left toward the bottom right of the frame. The rabbit is facing up the slope toward the left, leaning in to eat the grass while glancing at the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide4"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-slope-vertical-240w.avif   240w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-slope-vertical-400w.avif   400w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-slope-vertical-600w.avif   600w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-slope-vertical-1600w.avif 1600w
                  "
                />

                <!-- SQUIRREL EATING NUT -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.07.28_squirrel-eating-vertical-357w.jpg"
                  alt="Slide 5 of 15: A squirrel facing toward the left of the frame against a vibrant green background sits on top of a wooden post, holding a nut up to its mouth as it chews on the outter shell."
                  class="picture"
                  tabindex="0"
                  id="slide5"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.28_squirrel-eating-vertical-214w.avif   214w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.28_squirrel-eating-vertical-357w.avif   357w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.28_squirrel-eating-vertical-536w.avif   536w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.28_squirrel-eating-vertical-1429w.avif 1429w
                  "
                />

                <!-- CHIPMUNK ON A LOG IN WOODS -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.07.20_chippy-log-vertical-357w.jpg"
                  alt="Slide 6 of 15: A fallen log in the woods enters the frame at the bottom center and moves toward the back of the frame. It is surrounded on the top and sides of the frame by large green maple leaves and other vegetation. A chipmunk sits on the log, altert and facing toward the left of the frame, its eye clearly watching the viewer discreetly."
                  class="picture"
                  tabindex="0"
                  id="slide6"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.20_chippy-log-vertical-214w.avif   214w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.20_chippy-log-vertical-357w.avif   357w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.20_chippy-log-vertical-536w.avif   536w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.07.20_chippy-log-vertical-1429w.avif 1429w
                  "
                />

                <!-- BUNNY EAR GLOW -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.07.30_bunny-ear-glow-horizontal-500w.jpg"
                  alt="Slide 7 of 15: A rabbit sitting in long grass staring straight ahead at the viewer, with the glow of sunset hitting its left ear from behind, making it look almost translucent."
                  class="picture"
                  tabindex="0"
                  id="slide7"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-ear-glow-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-ear-glow-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-ear-glow-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.07.30_bunny-ear-glow-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SQUIRREL IN WOODS ON TRUNK -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.11.04_squirrel-log-horizontal-500w.jpg"
                  alt="Slide 8 of 15: A grey squirrel in a wooded area, sitting on a felled dead tree trunk, facing toward the left in the frame with its left paw lifted and looking alert at the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide8"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.11.04_squirrel-log-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.11.04_squirrel-log-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.11.04_squirrel-log-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.11.04_squirrel-log-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SKUNK -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.08.22_skunk-horizontal-500w.jpg"
                  alt="Slide 9 of 15: A skunk walking toward the left of the frame with its bushy tail in the air, partially hidden by out-of-focus green branches, with a dead tree stump just behind it."
                  class="picture"
                  tabindex="0"
                  id="slide9"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.22_skunk-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.22_skunk-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.22_skunk-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.22_skunk-horizontal-2000w.avif 2000w
                  "
                />

                <!-- BUNNY CLOSEUP -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.08.11_bunny-close-horizontal-500w.jpg"
                  alt="Slide 10 of 15: A closeup portrait of a rabbit that is sitting on the ground peering through long blades of grass, looking at the viewer, while also nibbling on the grass."
                  class="picture"
                  tabindex="0"
                  id="slide10"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.11_bunny-close-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.11_bunny-close-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.11_bunny-close-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.11_bunny-close-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SQUIRREL ON CEDAR TRUNK (landscape) -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.06.28_squirrel-cedar-horizontal-500w.jpg"
                  alt="Slide 11 of 15: And old dead branch of a cedar tree with fraying bark enters the frame at the top left, and curves down toward the bottom right of the frame. A squirrel clings onto the branch, peeking around it and gazing at the viewer playfully. "
                  class="picture"
                  tabindex="0"
                  id="slide11"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.28_squirrel-cedar-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.28_squirrel-cedar-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.28_squirrel-cedar-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.28_squirrel-cedar-horizontal-2000w.avif 2000w
                  "
                />

                <!-- CHIPMUNK AMONGST THE GREENS -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.06.25_chippy-weeds-horizontal-500w.jpg"
                  alt="Slide 12 of 15: A small chipmunk sits in the center of the frame on its hind legs, holding its front paws close to its body. The chipmunk is angled toward the front-left of the frame, looking coyly at the viewer out of the corder of its eye, and is surrounded by leafy green weeds."
                  class="picture"
                  tabindex="0"
                  id="slide12"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.25_chippy-weeds-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.25_chippy-weeds-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.25_chippy-weeds-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.06.25_chippy-weeds-horizontal-2000w.avif 2000w
                  "
                />

                <!-- BUNNY SCRATCHING -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.08.04_bunny-scratch-horizontal-500w.jpg"
                  alt="Slide 13 of 15: A rabbit in the center of the frame sits in a patch of long grass facing toward the viewer, lifting it's right hind leg to scratch its head. "
                  class="picture"
                  tabindex="0"
                  id="slide13"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.04_bunny-scratch-horizontal-300w.avif   300w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.04_bunny-scratch-horizontal-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.04_bunny-scratch-horizontal-750w.avif   750w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.08.04_bunny-scratch-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SQUIRREL SITTING ON CEDAR TRUNK (portrait) -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2024.05.25_squirrel-stump-vertical-357w.jpg"
                  alt="Slide 14 of 15: A grey squirrel sitting on top of a hollowed out old trunk of a cedar tree, angled toward the front left of the frame and looking cautiously at the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide14"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.25_squirrel-stump-vertical-214w.avif   214w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.25_squirrel-stump-vertical-357w.avif   357w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.25_squirrel-stump-vertical-536w.avif   536w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2024.05.25_squirrel-stump-vertical-1429w.avif 1429w
                  "
                />

                <!-- BUNNY EATING GRASS -->
                <img
                  src="../assets/imgs/small-animals-gal/jpg/Guneratne_2023.06.28_bunny-grass-vertical-333w.jpg"
                  alt="Slide 15 of 15: A rabbit standing on its hind legs reaching up to nibble on a piece of long grass above its head. The rabbit's back is to the viewer and its head is reaching up toward the top left corner of the frame."
                  class="picture"
                  tabindex="0"
                  id="slide15"
                  srcset="
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-vertical-200w.avif   200w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-vertical-333w.avif   333w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-vertical-500w.avif   500w,
                    ../assets/imgs/small-animals-gal/avif/Guneratne_2023.06.28_bunny-grass-vertical-1333w.avif 1333w
                  "
                />
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 15."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 15."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 15."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 15."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 15."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 15."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 15."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 15."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="8"
                    aria-label="Select Slide 9 of 15."
                  >
                    <div class="circle-icon" data-circle="8"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="9"
                    aria-label="Select Slide 10 of 15."
                  >
                    <div class="circle-icon" data-circle="9"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="10"
                    aria-label="Select Slide 11 of 15."
                  >
                    <div class="circle-icon" data-circle="10"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="11"
                    aria-label="Select Slide 12 of 15."
                  >
                    <div class="circle-icon" data-circle="11"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="12"
                    aria-label="Select Slide 13 of 15."
                  >
                    <div class="circle-icon" data-circle="12"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="13"
                    aria-label="Select Slide 14 of 15."
                  >
                    <div class="circle-icon" data-circle="13"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="14"
                    aria-label="Select Slide 15 of 15."
                  >
                    <div class="circle-icon" data-circle="14"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
