<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../style.css" rel="stylesheet" />
    <script src="../menu-index.js" defer="defer"></script>
    <script src="../footerDate.js" defer="defer"></script>
    <script src="../gallery-index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="urban-animals-gallery">
        <%- include('header.ejs') %>
        <!-- URBAN ANIMALS GALLERY -->

        <section class="section" id="urban-animals-gallery">
          <div class="gallery">
            <div
              class="slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Urban Animals Gallery"
              hidden
            >
              <%- include ('animation-ctrl.ejs') %>
              <div class="img-display-container">
                <button type="button" class="back-arrow" data-back-arrow>
                  <img
                    data-icon-back
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                    alt="Back Arrow"
                  />
                </button>

                <div class="photo-box">
                  <!-- ADIRONDACK CHAIR SPARROW-->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-171h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.07.27_chair-bird-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2023.07.27_chair-bird-horizontal-547h.jpg"
                      alt="Slide 1 of 9: The back slats of a red adirondack chair arch through the frame from center left to the bottom right corner. A house sparrow is perchec on top of the second from the right slat, angled toward the left of the frame with it's head nobly held in the air. "
                      id="slide6"
                    />
                  </picture>

                  <!-- CHIPMUNK PIPE (landscape) -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-171h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-547h.jpg"
                      alt="Slide 2 of 9: An old black drainpipe slightly protrudes from the ground in the center of the frame against a white wall. There is a chipmunk poking its head out of the pipe, facing toward the left side of the frame."
                      id="slide6"
                    />
                  </picture>

                  <!-- WALL DOVE -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-171h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1601px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-547h.jpg"
                      alt="Slide 3 of 9: A mourning dove with light orange feathers, a light blue beak and dark brown sings marches along a retaining wall that runs diagonally through the frame from bottom left to center right. The dove's right foot is in the air as it walks toward the front left corner of the frame."
                      id="slide6"
                    />
                  </picture>

                  <!-- SQUIRREL BIRDFEEDER -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 820px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-400h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-400h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 821px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-547h.jpg"
                      alt="Slide 4 of 9: A green bird beeder takes up th emajority of the frame, which is resting on top of a black pole that protrudes from the center bottom of the frame. A squirrel sits on the feeder, facing the front right of the frame. The squirrel looks guitily at the viewer, expecting to find a snack but the feeder is empty."
                      id="slide2"
                    />
                  </picture>

                  <!-- CHIPMUNK PIPE VERTICAL 1 -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 820px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-400h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-400h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 821px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical1-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical1-547h.jpg"
                      alt="Slide 5 of 9: An old black drain pipe protrudes from the ground in the center of the frame, revealing the top of a chipmunk's head peeking up toward the right. The chipmunk has its right front paw on the edge of the pipe and appears to be flirting with the viewer."
                      id="slide2"
                    />
                  </picture>

                  <!-- CARDINAL MAILBOX -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-171h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-547h.jpg"
                      alt="Slide 6 of 9: A mailbox in the center left of the frame rises from the ground, next to a tree trunk with a backdrop of green leaves. There is a red male cardinal sitting on top of the mailbox with its chest facing the right of the frame and head angled toward the left, as it keeps an eye on the viewer. "
                      id="slide6"
                    />
                  </picture>

                  <!-- RED FOX BIRDFEEDER -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-171h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-171h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 799px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 980px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 981px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-300h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-300h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-547h.jpg"
                      alt="Slide 7 of 9: A large, slim red fox takes up the majority of the frame, seen in right side profile as it sniffs the base of a black bird feeder pole on the right of the frame. The fox's head is slightly angled upwards, revealing a beautiful amber colored eye."
                      id="slide6"
                    />
                  </picture>

                  <!-- FEEDER SQUABBLES -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 820px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-400h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-400h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 821px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-547h.jpg"
                      alt="Slide 8 of 9: A green bird feeder on top of a black pole with a cone-shaped squirrel baffle beneath the feeder is in the center of the frame. On it are two birds squabbling over who gets to sit at the feeder. A cardinal is perched on the feeder, thrusting its head toward the right with an open beak in the direction of a house finch that is trying to land on the feeder. The finch is clinging onto the right side of the feeder and has its wings spread out behind it as it comes in for a landing."
                      id="slide2"
                    />
                  </picture>

                  <!-- CHIPMUNK PIPE VERTICAL 2 -->
                  <picture class="picture" tabindex="0">
                    <source
                      type="image/avif"
                      media="(min-width: 300px) and (max-width: 600px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 601px) and (max-width: 820px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-400h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-400h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 821px) and (max-width: 2000px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-547h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 2001px) and (orientation: portrait)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-1000h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-1000h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 800px) and (max-width: 900px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-320h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-320h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 901px) and (max-width: 1700px) and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-427h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-427h.jpg
                      "
                    />

                    <source
                      type="image/avif"
                      media="(min-width: 1701px)  and (orientation: landscape)"
                      srcset="
                        ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-547h.avif,
                        ../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-547h.jpg
                      "
                    />

                    <img
                      src="../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-547h.jpg"
                      alt="Slide 9 of 9: An old black drainpipe slightly protrudes from the ground in the center of the frame against a white wall. There is a chipmunk inside of the pipe with its paws holding the side and lifting its head out of the pipe, facing slightly toward the left side of the frame while gazing at the viewer."
                      id="slide2"
                    />
                  </picture>
                </div>

                <button type="button" class="forward-arrow" data-forward-arrow>
                  <img
                    data-icon-forward
                    class="arrow"
                    src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                    alt="Forward Arrow"
                  />
                </button>
              </div>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 9."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 9."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 9."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 9."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 9."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 9."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 9."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 9."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="8"
                    aria-label="Select Slide 9 of 9."
                  >
                    <div class="circle-icon" data-circle="8"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
