<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Removed initial-scale and max-width from content attribute to fix zooming problems on mobile -->
    <title><%= title %></title>
    <link href="../styles/body-styles.css" rel="stylesheet" />
    <link href="../styles/slider-styles.css" rel="stylesheet" />
    <script src="../js/menu-index.js" defer="defer"></script>
    <script src="../js/footerDate.js" defer="defer"></script>
    <script src="../js/gallery-index.js" defer="defer"></script>
  </head>

  <body>
    <div class="scroll-wrapper">
      <main class="main gal-main" data-name="urban-animals-gallery">
        <%- include('header.ejs') %>
        <!-- URBAN ANIMALS GALLERY -->

        <section class="section" id="urban-animals-gallery">
          <div class="gallery">
            <div
              class="slider-box"
              tabindex="0"
              role="region"
              aria-roledescription="photo slider"
              aria-label="Urban Animals Gallery"
            >
              <%- include ('animation-ctrl.ejs') %>
              <button type="button" class="back-arrow" data-back-arrow>
                <img
                  data-icon-back
                  class="arrow"
                  src="../assets/imgs/icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg"
                  alt="Back Arrow"
                />
              </button>

              <div class="photo-box">
                <!-- ADIRONDACK CHAIR SPARROW-->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2023.07.27_adirondack-bird-500w.jpg"
                  alt="Slide 1 of 9: The back slats of a red adirondack chair arch through the frame from center left to the bottom right corner. A house sparrow is perched on top of the second from the right slat, angled toward the left of the frame with it's head nobly held in the air."
                  class="picture"
                  tabindex="0"
                  id="slide1"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2023.07.27_adirondack-bird-300w.avif   300w,
                    ../assets/imgs/urban/avif/Guneratne_2023.07.27_adirondack-bird-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2023.07.27_adirondack-bird-750w.avif   750w,
                    ../assets/imgs/urban/avif/Guneratne_2023.07.27_adirondack-bird-2000w.avif 2000w
                  "
                />

                <!-- CHIPMUNK PIPE (landscape) -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.06.14_chippy-peek-horizontal-500w.jpg"
                  alt="Slide 2 of 9: An old black drainpipe slightly protrudes from the ground in the center of the frame against a white wall. There is a chipmunk poking its head out of the pipe, facing toward the left side of the frame."
                  class="picture"
                  tabindex="0"
                  id="slide2"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-300w.avif   300w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-750w.avif   750w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.14_chippy-peek-horizontal-2000w.avif 2000w
                  "
                />

                <!-- WALL DOVE -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2023.08.14_wall-dove-horizontal-500w.jpg"
                  alt="Slide 3 of 9: A mourning dove with light orange feathers a light blue beak and dark brown wings marches along a retaining wall that runs diagonally through the frame from bottom left to center right. The dove's right foot is in the air as it walks toward the front left corner of the frame."
                  class="picture"
                  tabindex="0"
                  id="slide3"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-300w.avif   300w,
                    ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-750w.avif   750w,
                    ../assets/imgs/urban/avif/Guneratne_2023.08.14_wall-dove-horizontal-2000w.avif 2000w
                  "
                />

                <!-- SQUIRREL BIRDFEEDER -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.05.01_feeder-squirrel-vertical-400w.jpg"
                  alt="Slide 4 of 9: A green bird feeder takes up the majority of the frame, which is resting on top of a black pole that protrudes from the center bottom of the frame. A squirrel sits on the feeder, facing the front right of the frame. The squirrel looks guiltily at the viewer, expecting to find a snack but the feeder is empty."
                  class="picture"
                  tabindex="0"
                  id="slide4"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-240w.avif   240w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-400w.avif   400w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-600w.avif   600w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.01_feeder-squirrel-vertical-1600w.avif 1600w
                  "
                />

                <!-- CHIPMUNK PIPE VERTICAL 1 -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.06.19_chipmunk-vertical1-333w.jpg"
                  alt="Slide 5 of 9: An old black drain pipe protrudes from the ground in the center of the frame, revealing the top of a chipmunk's head peeking up toward the right. The chipmunk has its right front paw on the edge of the pipe and appears to be flirting with the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide5"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chipmunk-vertical1-200w.avif   200w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chipmunk-vertical1-333w.avif   333w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chipmunk-vertical1-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chipmunk-vertical1-1333w.avif 1333w
                  "
                />

                <!-- CARDINAL MAILBOX -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2023.06.23_mailbox-cardinal-horizontal-500w.jpg"
                  alt="Slide 6 of 9: A mailbox in the center left of the frame rises from the ground, next to a tree trunk with a backdrop of green leaves. There is a red male cardinal sitting on top of the mailbox with its chest facing the right of the frame and head angled toward the left, as it keeps an eye on the viewer. "
                  class="picture"
                  tabindex="0"
                  id="slide6"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-300w.avif   300w,
                    ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-750w.avif   750w,
                    ../assets/imgs/urban/avif/Guneratne_2023.06.23_mailbox-cardinal-horizontal-2000w.avif 2000w
                  "
                />

                <!-- RED FOX BIRDFEEDER -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.09.25_red-fox-pole-horizontal-500w.jpg"
                  alt="Slide 7 of 9: A large slim red fox takes up the majority of the frame, seen in right side profile as it sniffs the base of a black bird feeder pole on the right of the frame. The fox's head is slightly angled upwards, revealing a beautiful amber colored eye."
                  class="picture"
                  tabindex="0"
                  id="slide7"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-300w.avif   300w,
                    ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-500w.avif   500w,
                    ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-750w.avif   750w,
                    ../assets/imgs/urban/avif/Guneratne_2024.09.25_red-fox-pole-horizontal-2000w.avif 2000w
                  "
                />

                <!-- FEEDER SQUABBLES -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.05.30_feeder-squabble-vertical-400w.jpg"
                  alt="Slide 8 of 9: A green bird feeder on top of a black pole with a cone-shaped squirrel baffle beneath the feeder is in the center of the frame. On it are two birds squabbling over who gets to sit at the feeder. A cardinal is perched on the feeder, thrusting its head toward the right with an open beak in the direction of a house finch that is trying to land on the feeder. The finch is clinging onto the right side of the feeder and has its wings spread out behind it as it comes in for a landing."
                  class="picture"
                  tabindex="0"
                  id="slide8"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-240w.avif   240w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-400w.avif   400w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-600w.avif   600w,
                    ../assets/imgs/urban/avif/Guneratne_2024.05.30_feeder-squabble-vertical-1600w.avif 1600w
                  "
                />

                <!-- CHIPMUNK PIPE VERTICAL 2 -->
                <img
                  loading="lazy"
                  src="../assets/imgs/urban/jpg/Guneratne_2024.06.19_chippy-peek-vertical2-357w.jpg"
                  alt="Slide 9 of 9: An old black drainpipe slightly protrudes from the ground in the center of the frame against a white wall. There is a chipmunk inside of the pipe with its paws holding the side and lifting its head out of the pipe, facing slightly toward the left side of the frame while gazing at the viewer."
                  class="picture"
                  tabindex="0"
                  id="slide9"
                  srcset="
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-214w.avif   214w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-357w.avif   357w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-536w.avif   536w,
                    ../assets/imgs/urban/avif/Guneratne_2024.06.19_chippy-peek-vertical2-1429w.avif 1429w
                  "
                />
              </div>

              <button type="button" class="forward-arrow" data-forward-arrow>
                <img
                  data-icon-forward
                  class="arrow"
                  src="../assets/imgs/icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg"
                  alt="Forward Arrow"
                />
              </button>

              <div class="img-dots-container">
                <div class="img-dots">
                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="0"
                    aria-label="Select Slide 1 of 9."
                  >
                    <div class="circle-icon" data-circle="0"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="1"
                    aria-label="Select Slide 2 of 9."
                  >
                    <div class="circle-icon" data-circle="1"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="2"
                    aria-label="Select Slide 3 of 9."
                  >
                    <div class="circle-icon" data-circle="2"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="3"
                    aria-label="Select Slide 4 of 9."
                  >
                    <div class="circle-icon" data-circle="3"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="4"
                    aria-label="Select Slide 5 of 9."
                  >
                    <div class="circle-icon" data-circle="4"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="5"
                    aria-label="Select Slide 6 of 9."
                  >
                    <div class="circle-icon" data-circle="5"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="6"
                    aria-label="Select Slide 7 of 9."
                  >
                    <div class="circle-icon" data-circle="6"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="7"
                    aria-label="Select Slide 8 of 9."
                  >
                    <div class="circle-icon" data-circle="7"></div>
                  </button>

                  <button
                    type="button"
                    class="circle-icon-div"
                    data-circle="8"
                    aria-label="Select Slide 9 of 9."
                  >
                    <div class="circle-icon" data-circle="8"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('footer.ejs') %>
      </main>
    </div>
  </body>
</html>
