<div class="animation-ctrl-div">
  <button
    type="button"
    class="pause-btn"
    title="Press Enter or Space to Pause Gallery Animation"
  >
    <img
      class="pause-icon"
      src="@images/icons/pause-btn.svg"
      alt="Press Enter or Space to Pause Gallery Animation"
    />
  </button>

  <button
    type="button"
    class="play-btn"
    title="Press Enter or Space to Start Gallery Animation"
  >
    <img
      class="play-icon"
      src="@images/icons/play-btn.svg"
      title="Start Gallery Animation"
      alt="Press Enter or Space to Start Gallery Animation"
    />
  </button>
</div>
