<footer class="footer-div">
  <div class="footer">
    <div class="copyright-div">
      <p class="my-copyright">Jenn Guneratne © 2024</p>
    </div>

    <div class="logo-div">
      <a
        href="https://github.com/jguneratne/photo-gallery"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="../assets/imgs/github-mark.svg"
          alt="GitHub Logo: Click to visit GitHub repository for this site."
          class="github-logo"
        />
      </a>
    </div>
  </div>
</footer>
