<header class="header">
  <nav>
    <ul class="menu-items" id="tabs">
      <li class="menu-btn hov-style" data-name="index">
        <a aria-label="Home Page" aria-current="page" href="index.html">Home</a>
      </li>

      <div
        class="dropdown-div menu-btn gal-hov dropdown-btn"
        data-name="galleries"
        title="Galleries"
      >
        <div class="gal-btn-div">
          <li aria-label="Click to Open Submenu">
            <a class="gals-link" href="#galleries">Galleries</a>
          </li>

          <div class="gal-arrow"></div>
        </div>

        <ul class="dropdown-content">
          <li
            class="dropdown-item birds"
            style="--delay: 1"
            data-name="birds-gallery"
            aria-label="Click to Visit Gallery"
          >
            <a href="birds-gallery.html">Birds</a>
          </li>
          <li
            class="dropdown-item insects"
            style="--delay: 2"
            data-name="insects-gallery"
            aria-label="Click to Visit Gallery"
          >
            <a href="insects-gallery.html">Insects</a>
          </li>
          <li
            class="dropdown-item small-animals"
            style="--delay: 3"
            data-name="small-animals-gallery"
            aria-label="Click to Visit Gallery"
          >
            <a href="small-animals-gallery.html">Small Animals</a>
          </li>
        </ul>
      </div>

      <li class="menu-btn hov-style" data-name="about">
        <a aria-label="About Page" href="about.html">About</a>
      </li>

      <li class="menu-btn hov-style" data-name="contact">
        <a aria-label="Contact Page" href="contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
