<header class="header">
  <nav>
    <ul role="menubar" class="menu-items" id="tabs">
      <li
        role="menuitem"
        class="menu-btn home-link hov-style"
        data-name="index"
      >
        <a
          aria-label="Home Page"
          class="menu-link"
          data-name="index"
          href="index.html"
          >Home</a
        >
      </li>

      <li
        role="menuitem"
        class="dropdown-div menu-btn gals-link gal-hov"
        data-name="galleries"
      >
        <a
          aria-label="Galleries: Click to Open Submenu"
          class="menu-link"
          data-name="galleries"
          href="#galleries"
          >Galleries <span class="gal-arrow"></span
        ></a>
        <ul role="menu" class="dropdown-content">
          <li
            role="menuitem"
            class="dropdown-item"
            style="--delay: 1"
            data-name="birds-gallery"
          >
            <a aria-label="Birds Gallery" href="birds-gallery.html">Birds</a>
          </li>
          <li
            role="menuitem"
            class="dropdown-item"
            style="--delay: 2"
            data-name="insects-gallery"
          >
            <a aria-label="Insects Gallery" href="insects-gallery.html"
              >Insects</a
            >
          </li>
          <li
            role="menuitem"
            class="dropdown-item"
            style="--delay: 3"
            data-name="small-animals-gallery"
          >
            <a
              aria-label="Small Animals Gallery"
              href="small-animals-gallery.html"
              >Small Animals</a
            >
          </li>
        </ul>
      </li>

      <li
        role="menuitem"
        class="menu-btn about-link hov-style"
        data-name="about"
      >
        <a
          aria-label="About Page"
          class="menu-link"
          data-name="about"
          href="about.html"
          >About</a
        >
      </li>

      <li
        role="menuitem"
        class="menu-btn contact-link hov-style"
        data-name="contact"
      >
        <a
          aria-label="Contact Page"
          class="menu-link"
          data-name="contact"
          href="contact.html"
          >Contact</a
        >
      </li>
    </ul>
    <button class="menu-icon-div">
      <img
        class="menu-icon"
        src="../assets/imgs/icons/menu-symbol-of-three-parallel-lines-svgrepo-com.svg"
        alt="Menu Button: Click to expand menu options"
      />
    </button>
  </nav>
</header>
