<header class="header">
  <nav>
    <ul role="none" class="menu-items" id="tabs">
      <li role="none" class="menu-btn hov-style" data-name="index">
        <a
          role="menuitem"
          aria-label="Home Page"
          class="menu-link"
          data-name="index"
          href="index.html"
          >Home</a
        >
      </li>

      <li
        role="none"
        class="dropdown-div menu-btn gal-hov"
        data-name="galleries"
      >
        <a
          role="menuitem"
          aria-label="Galleries: Click to Open Submenu"
          class="menu-link"
          data-name="galleries"
          href="#galleries"
          >Galleries <span class="gal-arrow"></span
        ></a>
        <ul role="menu" class="dropdown-content">
          <li
            role="none"
            class="dropdown-item"
            style="--delay: 1"
            data-name="birds-gallery"
          >
            <a
              role="menuitem"
              aria-label="Birds Gallery"
              href="birds-gallery.html"
              >Birds</a
            >
          </li>
          <li
            role="none"
            class="dropdown-item"
            style="--delay: 2"
            data-name="insects-gallery"
          >
            <a
              role="menuitem"
              aria-label="Insects Gallery"
              href="insects-gallery.html"
              >Insects</a
            >
          </li>
          <li
            role="none"
            class="dropdown-item"
            style="--delay: 3"
            data-name="small-animals-gallery"
          >
            <a
              role="menuitem"
              aria-label="Small Animals Gallery"
              href="small-animals-gallery.html"
              >Small Animals</a
            >
          </li>
        </ul>
      </li>

      <li role="none" class="menu-btn hov-style" data-name="about">
        <a
          role="menuitem"
          aria-label="About Page"
          class="menu-link"
          data-name="about"
          href="about.html"
          >About</a
        >
      </li>

      <li role="none" class="menu-btn hov-style" data-name="contact">
        <a
          role="menuitem"
          aria-label="Contact Page"
          class="menu-link"
          data-name="contact"
          href="contact.html"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
