<div class="animation-ctrl-div landscape-animation-ctrl-div">
  <button
    type="button"
    class="pause-btn landscape-pause-btn"
    title="Press Enter or Space to Pause Gallery Animation"
  >
    <img
      class="pause-icon landscape-pause-icon"
      src="../assets/imgs/pause-btn.svg"
      alt="Press Enter or Space to Pause Gallery Animation"
    />
  </button>

  <button
    type="button"
    class="play-btn landscape-play-btn"
    title="Press Enter or Space to Start Gallery Animation"
  >
    <img
      class="play-icon landscape-play-icon"
      src="../assets/imgs/play-btn.svg"
      title="Start Gallery Animation"
      alt="Press Enter or Space to Start Gallery Animation"
    />
  </button>
</div>
