<div class="animation-ctrl-div portrait-animation-ctrl-div">
  <button
    type="button"
    class="pause-btn portrait-pause-btn"
    title="Press Enter or Space to Pause Gallery Animation"
  >
    <img
      class="pause-icon portrait-pause-icon"
      src="../assets/imgs/icons/pause-btn.svg"
      alt="Press Enter or Space to Pause Gallery Animation"
    />
  </button>

  <button
    type="button"
    class="play-btn portrait-play-btn"
    title="Press Enter or Space to Start Gallery Animation"
  >
    <img
      class="play-icon portrait-play-icon"
      src="../assets/imgs/icons/play-btn.svg"
      title="Start Gallery Animation"
      alt="Press Enter or Space to Start Gallery Animation"
    />
  </button>
</div>
