<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <li class="menu-btn hov-style" data-name="index">
              <a aria-label="Home Page" href="../dist/index.html">Home</a>
            </li>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <li aria-label="Click to Open Submenu">
                  <a href="#galleries">Galleries</a>
                </li>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  data-name="first-gal"
                  aria-label="Click to Visit Gallery"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item events"
                  style="--delay: 2"
                  data-name="second-gal"
                  aria-label="Click to Visit Gallery"
                >
                  <a href="../dist/second-gallery.html">Events</a>
                </li>
              </ul>
            </div>

            <li class="menu-btn hov-style" data-name="about">
              <a
                aria-label="About Page"
                aria-current="page"
                href="../dist/about.html"
                >About</a
              >
            </li>

            <li class="menu-btn hov-style" data-name="contact">
              <a aria-label="Contact Page" href="../dist/contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- ABOUT -->
        <section class="tab-content" id="about">
          <div class="about">
            <div class="about-text-box">
              <p class="about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                quisquam blanditiis accusantium perferendis atque voluptatum at
                autem quia saepe sapiente dolores, voluptas cumque laboriosam id
                eum maiores neque eaque consequatur. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Est quisquam blanditiis
                accusantium perferendis atque voluptatum at autem quia saepe
                sapiente dolores, voluptas cumque laboriosam id eum maiores
                neque eaque consequatur.
              </p>
            </div>
          </div>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
