<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <div class="menu-btn hov-style" data-name="home" title="Home">
              <li>
                <a href="../dist/index.html">Home</a>
              </li>
            </div>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <ul>
                  <li>
                    <a href="#galleries">Galleries</a>
                  </li>
                </ul>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  title="Wildlife"
                  data-name="first-gal"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item events"
                  style="--delay: 2"
                  title="Events"
                  data-name="second-gal"
                >
                  <a href="../dist/second-gallery.html">Events</a>
                </li>
              </ul>
            </div>

            <div class="menu-btn hov-style" data-name="about" title="About">
              <li>
                <a href="../dist/about.html">About</a>
              </li>
            </div>

            <div class="menu-btn hov-style" data-name="contact" title="Contact">
              <li>
                <a href="../dist/contact.html">Contact</a>
              </li>
            </div>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- CONTACT -->
        <section class="tab-content contact-tab" id="contact">
          <form action="#" method="POSt">
            <h1 class="contact-header">Get In Touch!</h1>

            <fieldset disabled="disabled">
              <p class="required-text">
                Required fields are followed by
                <span aria-label="required">*</span>
              </p>

              <label for="name">
                <div class="input-type">
                  Name: <span aria-label="required">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="name"
                    type="text"
                    name="name"
                    placeholder="This form is not yet active."
                    required
                  />
                </div>
              </label>

              <label for="email">
                <div class="input-type">
                  Email: <span aria-label="required">*</span>
                </div>
                <div class="input-box">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="youremail@email.com"
                    required
                  />
                </div>
              </label>

              <label for="message">
                <div class="input-type">
                  Message: <span aria-label="required">*</span>
                </div>
                <div class="input-box">
                  <textarea
                    name="message"
                    id="message"
                    rows="15"
                    cols="50"
                    placeholder="This form is not yet active."
                    required
                  ></textarea>
                </div>
              </label>

              <button class="send-contact" type="button">Submit</button>
            </fieldset>
          </form>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
