<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="menu-items" id="tabs">
            <li class="menu-btn hov-style" data-name="index">
              <a aria-label="Home Page" href="../dist/index.html">Home</a>
            </li>

            <div
              class="dropdown-div menu-btn gal-hov dropdown-btn"
              data-name="galleries"
              title="Galleries"
            >
              <div class="gal-btn-div">
                <li aria-label="Click to Open Submenu">
                  <a href="#galleries">Galleries</a>
                </li>

                <div class="gal-arrow"></div>
              </div>

              <ul class="dropdown-content">
                <li
                  class="dropdown-item wildlife"
                  style="--delay: 1"
                  data-name="first-gal"
                  aria-label="Click to Visit Gallery"
                >
                  <a href="../dist/first-gallery.html">Wildlife</a>
                </li>
                <li
                  class="dropdown-item events"
                  style="--delay: 2"
                  data-name="second-gal"
                  aria-label="Click to Visit Gallery"
                >
                  <a href="../dist/second-gallery.html">Events</a>
                </li>
              </ul>
            </div>

            <li class="menu-btn hov-style" data-name="about">
              <a aria-label="About Page" href="../dist/about.html">About</a>
            </li>

            <li class="menu-btn hov-style" data-name="contact">
              <a aria-label="Contact Page" href="../dist/contact.html"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <main class="main">
        <!-- GALLERIES -->
        <section class="tab-content" id="galleries">
          <div class="galleries">
            <div class="thumbnails" role="region">
              <a
                href="../dist/first-gallery.html"
                class="thumbnail-link"
                aria-label="Click to visit wildlife gallery."
              >
                <div class="thumbnail-box">
                  <img
                    class="thumbnail-img"
                    src="../src/assets/imgs/thumbnails/Guneratne_2023.06.28_wildlife-gal-thumb.jpg"
                    alt="Image of bunny eating long grass."
                  />
                  <p class="gal-title">Wildlife</p>
                </div>
              </a>

              <a
                href="../dist/second-gallery.html"
                class="thumbnail-link"
                aria-label="Click to visit events gallery."
              >
                <div class="thumbnail-box">
                  <img
                    class="thumbnail-img"
                    src="../src/assets/imgs/thumbnails/Guneratne_2014.09.13_events-gal-thumb.jpg"
                    alt="Image of members of a wedding party enjoying lunch outdoors."
                  />
                  <p class="gal-title">Events</p>
                </div>
              </a>
            </div>
          </div>
        </section>
      </main>

      <footer class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2024</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/github-mark-white.svg') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
