* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --fallback-col: #d0d6d6;
  --main-col: #d0d6d6;
  --head-foot-col: #fffbeb;
  --menu-btn-selected: #4c7273;
  --logo-background: rgba(112, 128, 144, 0.6);
  --cta-btn-color: rgba(255, 251, 235, 0.8);
  --slider-box-col: #042630;
  --slider-icon-col: #ebdbbc;
  --about-box-col: rgba(4, 38, 48, 0.8);
  --dark-font-col: #254710;
  --light-font-col: #f1ffea;
  --error-color: #931b05;
}

/* Menu Keyframes */

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-webkit-keyframes slide-down-reverse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
  }
}

body {
  min-height: 100vh;
  background-color: var(--fallback-col);
  overflow: hidden;
}

/* Main Setup for Each Page */

.main {
  max-width: 110rem;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-col);
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(auto, 1fr) min-content;
  grid-template-areas:
    "header"
    "section"
    "footer";
}

.scroll-wrapper {
  height: 100vh;
  overflow: auto;
}

/* Header Content */

nav {
  display: grid;
  grid-template-rows: auto min-content;
}

.menu-icon-div {
  display: flex;
  justify-content: center;
}

.menu-icon {
  width: 3ch;
  margin: 2ch 0;
}

.header {
  min-height: 1em;
  background-color: var(--head-foot-col);
  grid-area: header;
}

.header-border {
  border-bottom: 0.5ch solid var(--menu-btn-selected);
}

.menu-items {
  -webkit-animation: slide-down-reverse 0.5s ease-in-out both;
  display: none;
}

.menu-items.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "home about"
    "galleries contact";
  -webkit-animation: slide-down 0.5s ease-in-out both;
}

.home-link {
  grid-area: home;
  margin-top: 1em;
}

.gals-link {
  grid-area: galleries;
  margin: 1em 0;
}

.about-link {
  grid-area: about;
  margin-top: 1em;
  justify-self: flex-end;
}

.contact-link {
  grid-area: contact;
  margin: 1em 0;
  justify-self: flex-end;
}

li {
  list-style-type: none;
}

.menu-btn,
.menu-btn a {
  color: var(--dark-font-col);
  width: 15ch;
  min-height: 6ch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Set pseudo-element to preset width of element; prevents hover from changing size of element when bold */
.menu-btn:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.home-link.selected,
.gals-link.selected {
  background-color: var(--menu-btn-selected);
  border-radius: 0 1em 1em 0;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.about-link.selected,
.contact-link.selected {
  background-color: var(--menu-btn-selected);
  border-radius: 1em 0 0 1em;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.menu-btn.selected a {
  color: var(--light-font-col);
  text-decoration: var(--light-font-col);
}

.menu-btn.selected a:focus-visible {
  outline: 3px solid var(--light-font-col);
  border-radius: 0.5em;
}

.menu-btn a:focus-visible {
  outline: 3px solid var(--dark-font-col);
  border-radius: 0.5em;
}

.hov-style:hover,
.gal-hov:hover {
  text-decoration: underline var(--dark-font-col);
  text-decoration-thickness: 0.3ch;
  font-weight: bold;
  cursor: pointer;
}

.wildlife:hover,
.wildlife:focus,
.insect:hover,
.insect:focus {
  text-decoration: underline var(--dark-font-col);
  color: var(--dark-font-col);
}

.hov-style:hover.selected,
.hov-style:focus.selected,
.gal-hov:hover.selected,
.gal-hov:focus.selected {
  text-decoration: underline var(--light-font-col);
  text-decoration-thickness: 0.3ch;
  color: var(--dark-font-col);
}

.dropdown-div {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  margin-top: 1ch;
  max-height: 4ch;
}

.gal-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--dark-font-col);
  margin-left: 0.5em;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  z-index: 10;
  display: none;
}

.dropdown-content--active {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: var(--head-foot-col);
}

.menu-btn.selected .gal-arrow {
  border-top: 6px solid var(--light-font-col);
}

.menu-btn.selected .gal-arrow--active {
  border-top: 6px solid var(--light-font-col);
  transform: rotate(180deg);
}

.dropdown-content--active li.dropdown-item--active {
  -webkit-animation: slide-down 0.5s ease-in-out both;
  background: var(--menu-btn-selected);
  outline: 0.3ch solid var(--slider-box-col);
  border-radius: 0 1em 1em 0;
}

.dropdown-content--active li.dropdown-item--active a {
  margin-top: -1ch;
}

.dropdown-content--active li.dropdown-item--active:hover {
  outline: 0.3ch solid var(--head-foot-col);
}

.dropdown-content--active li.dropdown-item--active:focus {
  border: 0.3ch solid var(--head-foot-col);
  outline: 0.3ch solid var(--head-foot-col);
}

.dropdown-content li:not(:first-child) {
  margin-top: 1ch;
}

/* Section Content */

.section {
  grid-area: section;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100%;
}

/* Home Page */

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: flex-start;

  background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-600p.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.logo-box {
  background-color: var(--logo-background);
  min-width: 90%;
  margin: 3em auto 0 auto;
  padding: 1em;
  border-radius: 1em;
  align-self: center;
}

.home-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-bottom: 3em;
}

.cta-btn {
  text-decoration: none;
  background-color: var(--cta-btn-color);
  padding: 2em 3em;
  border-radius: 1.2em;
  min-width: 22ch;
  font-size: 2ch;
  border: 0.4ch solid var(--menu-btn-selected);
  color: var(--dark-font-col);
}

.cta-btn:hover {
  background-color: var(--head-foot-col);
  border: 0.4ch solid var(--dark-font-col);
  cursor: pointer;
}

/* Galleries Thumbnail Links */

.thumbnails {
  grid-area: 1 / 2 / 2 / 3;
  margin: 2em 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.thumbnail-link {
  text-decoration: none;
}

.thumbnail-box {
  background-color: var(--slider-box-col);
  border-radius: 1em;
}

.thumbnail-img {
  margin: 1em;
  border: 1.5px solid transparent;
}

.gal-title {
  text-align: center;
  color: var(--light-font-col);
  font-size: 1.3rem;
  padding-bottom: 1em;
}

.thumbnail-link:hover,
.thumbnail-link:focus {
  cursor: pointer;
  outline: none;
}

.thumbnail-link:hover .thumbnail-img,
.thumbnail-link:focus .thumbnail-img {
  cursor: pointer;
  border: 1.5px solid var(--main-col);
}

.thumbnail-link:hover .gal-title,
.thumbnail-link:focus .gal-title {
  text-decoration: underline;
}

/* Galleries */

.gallery {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  min-height: 100%;
  align-items: center;
}

.animation-ctrl-div {
  grid-area: 1 / 1 / 2 / 2;
  max-height: min-content;
  margin: 2em 0;

  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
}

.pause-btn,
.play-btn {
  grid-area: 1 / 1 / 2 / 2;
  background-color: transparent;
  border: 1px solid transparent;
  width: max-content;
  opacity: 75%;
  visibility: hidden;
}

.pause-btn--active,
.play-btn--active {
  visibility: visible;
}

.pause-btn--active:focus,
.play-btn--active:focus {
  border: 1px solid var(--dark-font-col);
  outline: 1px solid var(--dark-font-col);
  border-radius: 1em;
}

.pause-btn:hover,
.play-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.pause-icon,
.play-icon {
  width: 5em;
  margin: 0.5em;
}

.slider-box {
  grid-area: 2 / 1 / 3 / 2;
  outline: 1px solid var(--dark-font-col);
  border: 3px solid transparent;
  border-radius: 3em;
  background-color: var(--slider-box-col);
  min-height: 0.625rem;
  max-width: min-content;
  margin: 2em auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  align-content: center;
  justify-items: center;
}

.slider-box:focus-visible {
  border: 3px solid var(--head-foot-col);
}

.img-display-container {
  display: flex;
}

.back-arrow {
  margin: 0 1em;
}

.img-dots-container {
  grid-area: 2 / 1 / 3 / 2;
  max-width: 25rem;
  margin: 1.6rem 0 1rem 0;
}

.img-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-icon-div {
  background: transparent;
  border: none;
}

.circle-icon-div:focus-visible {
  outline: 2px solid var(--slider-icon-col);
  border-radius: 0.5em;
}

.circle-icon-div--active {
  background-color: transparent;
}

.circle-icon {
  width: 2ch;
  height: 2ch;
  margin: 2ch;
  border-radius: 50%;
  border: 1px solid var(--light-font-col);
  background-color: transparent;
}

.circle-icon--active {
  background-color: lightgray;
}

.forward-arrow {
  margin: 0 1em;
}

.back-arrow,
.forward-arrow {
  background-color: transparent;
  justify-self: center;
  align-self: center;
  border: 2px solid transparent;
}

.arrow {
  width: 5ch;
  outline: 2px solid transparent;
}

.back-arrow:focus-visible,
.forward-arrow:focus-visible {
  outline: 2px solid var(--slider-icon-col);
  border-radius: 0.5em;
}

.photo-box {
  margin-top: 3em;
  flex-basis: min-content;
  justify-items: center;
}

.photo-box picture {
  transition: visibility 0s 500ms, opacity 500ms linear;
  display: none;
  opacity: 0;
  pointer-events: none;
  object-fit: contain;
}

.photo-box .picture--active {
  transition: opacity 500ms linear;
  display: initial;
  opacity: 1;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.photo-box .picture--active:focus {
  border: 1px solid var(--light-font-col);
  outline: 1px solid var(--light-font-col);
}

/* About Page */

.about {
  min-height: 100%;
  background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-600p.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-text-div {
  display: flex;
  flex-direction: column;

  max-width: 90%;
  height: min-content;
  margin: 3ch auto;
  padding: 2.5em 2em;
  text-align: left;
  color: var(--light-font-col);
  border-radius: 1em;
  background-color: var(--about-box-col);
}

.bosco-entry {
  font-size: 2ch;
  margin-bottom: 2rem;
}

.definition {
  margin-bottom: 0.4rem;
}

.about-box {
  font-size: 2.5ch;
  display: flex;
  flex-direction: column;

  height: min-content;
}

.about-text:not(.last-para) {
  margin-bottom: 1.2rem;
}

/* Contact Form */

.contact-header {
  margin-top: 1.5em;
}

.required-text {
  padding: 0.5em 0;
  font-size: 1.2rem;
  color: var(--dark-font-col);
}

.form-disabled {
  font-size: 1.2rem;
  color: var(--error-color);
  text-decoration: underline;
  display: none;
}

form {
  padding-top: 2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 100%;
}

.input-type {
  text-align: left;
  padding: 0 1em 0.6em 0;
}

.input-box-msg {
  resize: both;
}

input,
textarea {
  width: 100%;
  border-radius: 0.5em;
  background-color: var(--head-foot-col);
  outline: 1px solid var(--slider-box-col);
  border: 2px solid transparent;
  padding: 0.5em;
}

textarea {
  resize: both;
}

input:hover,
textarea:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  border: 2px solid var(--dark-font-col);
}

.firstName--invalid,
.lastName--invalid,
.emailField--invalid,
.messageField--invalid {
  border: 2px solid var(--error-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--dark-font-col);
  opacity: 1;
}

.firstNameError,
.lastNameError,
.emailError,
.messageError,
.submitError {
  text-align: right;
  font-weight: bold;
  color: var(--error-color);
  padding-bottom: 1.5em;
  visibility: hidden;
}

.firstNameError:focus,
.lastNameError:focus,
.emailError:focus,
.messageError:focus,
.submitError:focus {
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--error-color);
}

.send-contact {
  padding: 0.5em 2em 0.5em 2em;
  margin: 1.5em 0 0 0;
  max-width: min-content;
  font-size: 2ch;
  border-radius: 0.5em;
  border: 2px solid transparent;
  outline: 1px solid var(--slider-box-col);
}

.send-contact:hover {
  background-color: var(--dark-font-col);
  color: var(--light-font-col);
  cursor: pointer;
}

.send-contact:focus {
  border: 2px solid var(--dark-font-col);
}

/* Footer */

.footer-div {
  grid-area: footer;
  background-color: var(--head-foot-col);
  padding: 1ch;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div p {
  color: var(--dark-font-col);
}

.footer-div .logo-div a {
  margin-left: 1em;
}

.footer-div .logo-div a img {
  height: 4ch;
  outline: 1.5px solid transparent;
  border: 1px solid transparent;
}

.footer-div .logo-div a img:focus-visible {
  outline: 1.5px solid var(--dark-font-col);
  border: 1px solid transparent;
}

/* Media Queries */

@media (min-width: 600px) and (orientation: portrait) {
  .menu-items.active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-top: -0.5em;
  }

  .menu-btn {
    width: 12ch;
    min-height: 4ch;
  }

  .menu-icon {
    margin: 3ch 0 2ch 0;
  }

  .home-link,
  .gals-link,
  .about-link,
  .contact-link {
    margin-top: 0;
  }

  .home-link.selected,
  .gals-link.selected,
  .about-link.selected,
  .contact-link.selected {
    border-radius: 0 0 1em 1em;
  }

  .dropdown-content--active li.dropdown-item--active {
    border-radius: 0.8em;
    width: min-content;
  }

  .pause-icon,
  .play-icon {
    width: 7em;
    margin: 1em;
  }
}

@media (min-width: 700px) and (orientation: portrait) {
  .menu-items.active {
    gap: 2em;
  }

  .home {
    background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-800p.jpg);
  }

  .logo-box {
    margin: 5em auto;
  }

  .home-box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cta-btn {
    padding: 2.5em 3em;
    font-size: 2.5ch;
  }

  .thumbnails {
    margin: 4em 0;
    gap: 3em;
  }

  .pause-icon,
  .play-icon {
    width: 8em;
    margin: 1em;
  }

  .slider-box {
    margin: 2em auto 3em auto;
  }

  .arrow {
    width: 7ch;
  }

  .photo-box {
    margin-top: 4em;
  }

  .img-dots-container {
    max-width: 40rem;
  }

  .circle-icon {
    width: 3ch;
    height: 3ch;
    margin: 3ch;
  }

  .about {
    background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-800p.jpg);
  }

  form {
    margin: 5em 0;
  }

  fieldset {
    width: 80%;
  }

  label {
    padding: 0;
    margin: 1.5em 0;
  }
}

@media (min-width: 1000px) and (orientation: portrait) {
  .menu-items.active {
    gap: 4em;
  }

  .home {
    background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-1200p.jpg);
  }

  .pause-icon,
  .play-icon {
    width: 14em;
    margin: 1em;
  }

  .arrow {
    width: 10ch;
  }

  .photo-box {
    margin-top: 5em;
  }

  .circle-icon {
    width: 4ch;
    height: 4ch;
    margin: 4ch;
  }

  .about {
    background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-1200p.jpg);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .about-text-div {
    max-width: 60%;
    margin: auto;
  }

  fieldset {
    width: 70%;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .menu-items.active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -0.5em;
  }

  .menu-btn {
    width: 12ch;
    min-height: 4ch;
  }

  .menu-icon {
    margin: 3ch 0 2ch 0;
  }

  .home-link,
  .gals-link,
  .about-link,
  .contact-link {
    margin-top: 0;
  }

  .home-link.selected,
  .gals-link.selected,
  .about-link.selected,
  .contact-link.selected {
    border-radius: 0 0 1em 1em;
  }

  .dropdown-content--active li.dropdown-item--active {
    border-radius: 0.8em;
    width: min-content;
  }

  .home {
    background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-800p.jpg);
    gap: 2em;
  }

  .logo-box {
    min-width: 70%;
    margin: 2em auto 0 auto;
  }

  .home-box {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 2em 0 3em 0;
  }

  .animation-ctrl-div {
    margin: 1em 0;
  }

  .slider-box {
    margin: 1em auto 3em auto;
  }

  .img-dots-container {
    margin: 1em 0;
  }

  .about {
    background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-800p.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  fieldset {
    width: 70%;
    margin-bottom: 2em;
  }
}

@media (min-width: 950px) and (orientation: landscape) {
  .menu-items.active {
    gap: 2em;
  }

  .menu-icon {
    margin: 2ch 0;
  }

  .home {
    background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1200p.jpg);
  }

  .circle-icon {
    width: 2.5ch;
    height: 2.5ch;
    margin: 2.5ch;
  }

  .about {
    background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1200p.jpg);
  }

  .about-text-div {
    max-width: 80%;
  }

  form {
    padding-top: 4em;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .logo-box {
    min-width: 90%;
  }

  .home-box {
    justify-content: space-evenly;
    gap: 0;
    margin: 0;
  }

  .play-icon,
  .pause-icon {
    width: 7em;
  }

  .arrow {
    width: 8ch;
  }

  .img-dots-container {
    max-width: 40em;
  }

  fieldset {
    max-width: 50%;
  }
}

@media (min-width: 1800px) and (orientation: landscape) {
  .menu-items.active {
    gap: 4em;
  }

  .home {
    background-image: url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1600p.jpg);
  }

  .about {
    background-image: url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1600p.jpg);
  }

  .about-text-div {
    margin: auto;
  }
}

@media (prefers-reduced-motion) {
  .menu-items {
    -webkit-animation: none;
  }

  .gal-arrow {
    transition: none;
  }

  .dropdown-content--active li.dropdown-item--active {
    -webkit-animation: none;
  }
}
