* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --fallback-col: #d0d6d6;
  --main-col: #d0d6d6;
  --head-foot-col: #fffbeb;
  --menu-btn-selected: #4c7273;
  --logo-background: rgba(112, 128, 144, 0.6);
  --cta-btn-color: rgba(255, 251, 235, 0.8);
  --slider-box-col: #042630;
  --slider-icon-col: #ebdbbc;
  --about-box-col: rgba(4, 38, 48, 0.8);
  --dark-font-col: #254710;
  --light-font-col: #f1ffea;
  --error-color: #931b05;
}

/* Menu Keyframes */

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes slide-down-reverse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
  }
}

body {
  min-height: 100vh;
  background-color: var(--slider-box-col);
  overflow: hidden;
}

/* Main Setup for Each Page */

.scroll-wrapper {
  height: 100vh;
  overflow: auto;
}

.main {
  max-width: 110em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-col);
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(auto, 1fr) min-content;
  grid-template-areas:
    "header"
    "section"
    "footer";
}

/* Header Content */

nav {
  display: grid;
  grid-template-rows: auto min-content;
  grid-template-areas:
    "menu"
    "icon";
}

.menu-icon-div {
  grid-area: icon;
  display: flex;
  justify-content: center;
  width: min-content;
  padding: 0.8em;
  margin: 2ch auto;

  background-color: transparent;
  border: 2px solid transparent;
  outline: 2px solid transparent;
}

.menu-icon-div:focus-visible,
.menu-icon-div:hover {
  outline: 2px solid var(--dark-font-col);
  border-radius: 0.5em;
}

.menu-icon {
  width: 3ch;
}

.header {
  min-height: 1em;
  background-color: var(--head-foot-col);
  grid-area: header;
}

.menu-items {
  grid-area: menu;
  animation: slide-down-reverse 0.5s ease-in-out both;
  display: none;
}

.menu-items.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "home about"
    "galleries contact";
  animation: slide-down 0.5s ease-in-out both;
}

.home-link {
  grid-area: home;
  margin-top: 1em;
}

.gals-link {
  grid-area: galleries;
  margin: 1em 0;
}

.about-link {
  grid-area: about;
  margin-top: 1em;
  justify-self: flex-end;
}

.contact-link {
  grid-area: contact;
  margin: 1em 0;
  justify-self: flex-end;
}

li {
  list-style-type: none;
}

.menu-btn,
.menu-btn a {
  color: var(--dark-font-col);
  width: 15ch;
  min-height: 6ch;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.home-link.selected,
.gals-link.selected {
  background-color: var(--menu-btn-selected);
  border-radius: 0 1em 1em 0;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.about-link.selected,
.contact-link.selected {
  background-color: var(--menu-btn-selected);
  border-radius: 1em 0 0 1em;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.menu-btn.selected a {
  color: var(--light-font-col);
  text-decoration: var(--light-font-col);
}

.menu-btn a:focus-visible,
.menu-btn.selected a:focus-visible {
  outline: 3px solid var(--dark-font-col);
  border-radius: 0.5em;
}

.menu-btn:hover {
  text-decoration: underline var(--dark-font-col);
  text-decoration-thickness: 0.3ch;
  font-weight: bold;
  cursor: pointer;
}

.menu-btn:hover.selected {
  text-decoration: underline var(--light-font-col);
  text-decoration-thickness: 0.3ch;
  color: var(--dark-font-col);
}

.dropdown-div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gal-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--dark-font-col);
  margin-left: 0.5em;
  transition: transform ease-in-out 0.3s;
}

.menu-btn.selected .gal-arrow {
  border-top: 6px solid var(--light-font-col);
}

.menu-btn.selected .gal-arrow--active {
  border-top: 6px solid var(--light-font-col);
  transform: rotate(180deg);
}

.dropdown-content {
  list-style: none;
  animation: slide-down;
  display: none;
}

.dropdown-content li a {
  color: var(--light-font-col);
}

.dropdown-content--active {
  animation: slide-down-reverse;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: var(--head-foot-col);
  margin-top: 18em;
  padding: 0 0.5em 1em 0.5em;
  border-radius: 1em;
  position: absolute;
}

.dropdown-item {
  margin-top: 0.3em;
  max-height: 4ch;
}

.dropdown-content--active li.dropdown-item--active {
  animation: slide-down 0.5s ease-in-out both;
  background: var(--menu-btn-selected);
  outline: 2px solid transparent;
  border: 2px solid transparent;
  border-radius: 0 1em 1em 0;
}

.dropdown-content--active li.dropdown-item--active a {
  margin-top: -1ch;
}

.dropdown-content--active li.dropdown-item--active:hover {
  border: 2px solid transparent;
  outline: 2px solid var(--dark-font-col);
  color: var(--light-font-col);
  text-decoration: underline;
  font-weight: bold;
}

/* Section Content */

.section {
  grid-area: section;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100%;
}

/* Home Page */

.home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: flex-start;

  background-image: image-set(
    url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-600p.webp)
      type("image/webp"),
    url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-600p.jpg)
      type("image/jpg")
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.logo-box {
  background-color: var(--logo-background);
  min-width: 90%;
  margin: 3em auto 0 auto;
  padding: 1em;
  border-radius: 1em;
  align-self: center;
}

.home-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-bottom: 3em;
}

.cta-btn {
  text-decoration: none;
  background-color: var(--cta-btn-color);
  padding: 2em 3em;
  border-radius: 1.2em;
  min-width: 22ch;
  border: 0.4ch solid var(--menu-btn-selected);
  color: var(--dark-font-col);
}

.cta-btn:hover,
.cta-btn:focus-visible {
  background-color: var(--head-foot-col);
  border: 0.4ch solid var(--dark-font-col);
  outline: 1px solid (var(--dark-font-col));
  cursor: pointer;
}

/* Galleries Thumbnail Links */

.thumbnails {
  min-height: 100%;
  padding: 2em 0;
  margin: auto 0;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.thumbnail-link {
  text-decoration: none;
}

.thumbnail-box {
  background-color: var(--slider-box-col);
  border-radius: 1em;
}

.thumbnail-img {
  margin: 1em;
  border: 1.5px solid transparent;
}

.gal-title {
  text-align: center;
  color: var(--light-font-col);
  font-size: 1.5rem;
  padding-bottom: 1em;
}

.thumbnail-link:hover,
.thumbnail-link:focus {
  cursor: pointer;
  outline: none;
}

.thumbnail-link:hover .thumbnail-img,
.thumbnail-link:focus .thumbnail-img {
  cursor: pointer;
  border: 1.5px solid var(--light-font-col);
}

.thumbnail-link:hover .gal-title,
.thumbnail-link:focus .gal-title {
  text-decoration: underline;
}

/* Galleries */

.gallery {
  display: grid;
  grid-auto-rows: auto;
  min-height: 100%;
  align-items: center;
}

.slider-box {
  outline: 1px solid var(--dark-font-col);
  border: 3px solid transparent;
  border-radius: 3em;
  background-color: var(--slider-box-col);
  min-height: 0.625em;
  max-width: calc(100% - 1.5em);
  margin: 3em auto;

  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content auto min-content;
  align-content: center;
  justify-items: center;
}

.slider-box:focus-visible {
  border: 3px solid var(--head-foot-col);
}

.animation-ctrl-div {
  grid-area: 1 / 1 / 2 / 2;
  max-height: min-content;
  margin: 1em 0 0.5em 0;

  display: grid;
  justify-content: center;
}

.pause-btn,
.play-btn {
  grid-area: 1 / 1;
  background-color: transparent;
  border: 1px solid transparent;
  width: max-content;
  margin-left: 0.5em;
  visibility: hidden;
}

.pause-btn--active,
.play-btn--active {
  visibility: visible;
}

.pause-btn--active:focus,
.play-btn--active:focus,
.pause-btn:hover,
.play-btn:hover {
  border: 1px solid var(--slider-icon-col);
  outline: 1px solid var(--slider-icon-col);
  border-radius: 1em;
  cursor: pointer;
}

.pause-icon,
.play-icon {
  width: 3em;
  margin: 0.5em;
}

.back-arrow,
.forward-arrow {
  background-color: transparent;
  justify-self: center;
  align-self: center;
  min-height: 20%;
  margin: 0 0.5em;
  border: 1px solid transparent;
}

.back-arrow {
  grid-area: 2 / 1 / 3 / 2;
}

.forward-arrow {
  grid-area: 2 / 3 / 3 / 4;
}

.arrow {
  width: 4ch;
  outline: 2px solid transparent;
}

.back-arrow:focus-visible,
.forward-arrow:focus-visible,
.back-arrow:hover,
.forward-arrow:hover {
  outline: 1px solid var(--slider-icon-col);
  border-radius: 0.5em;
  cursor: pointer;
}

.photo-box {
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  min-height: 30vh;
}

.photo-box img {
  grid-area: 1 / 1;
  transition:
    visibility 0s 500ms,
    opacity 500ms linear;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  object-fit: contain;
  max-width: calc(100% - 0.5em);
  max-height: 65vh;
  margin: auto;
}

.photo-box .picture--active {
  transition: opacity 500ms linear;
  display: initial;
  opacity: 1;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.photo-box .picture--active:focus {
  border: 1px solid var(--light-font-col);
  outline: 1px solid var(--light-font-col);
}

.img-dots-container {
  grid-area: 3 / 2 / 4 / 3;
  max-width: 18em;
  margin: 1em 0 2em 0;
}

.img-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-icon-div {
  background: transparent;
  border: none;
}

.circle-icon-div:focus-visible,
.circle-icon-div:hover {
  outline: 2px solid var(--slider-icon-col);
  border-radius: 0.5em;
  cursor: pointer;
}

.circle-icon-div--active {
  background-color: transparent;
}

.circle-icon {
  width: 1.6ch;
  height: 1.6ch;
  margin: 1.4ch;
  border-radius: 50%;
  border: 1px solid var(--light-font-col);
  background-color: transparent;
}

.circle-icon--active {
  background-color: lightgray;
}

/* About Page */

.about {
  min-height: 100%;
  background-image: image-set(
    url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-600p.webp)
      type("image/webp"),
    url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-600p.jpg)
      type("image/jpg")
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: grid;
  justify-content: center;
}

.about-text-div {
  display: flex;
  flex-direction: column;

  max-width: 35em;
  height: min-content;
  margin: 3em 1em;
  padding: 2.5em 2em;
  text-align: left;
  color: var(--light-font-col);
  border-radius: 1em;
  background-color: var(--about-box-col);
}

.bosco-entry {
  margin-bottom: 2em;
}

.definition {
  margin-bottom: 0.4em;
}

.about-box {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;

  height: min-content;
}

.about-text:not(.last-para) {
  margin-bottom: 1.2em;
}

/* Contact Form */

.contact-header {
  margin-top: 1.5em;
}

.required-text {
  padding: 0.5em 0;
  color: var(--dark-font-col);
}

.form-disabled {
  color: var(--error-color);
  text-decoration: underline;
  display: none;
}

form {
  padding-top: 2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  margin: 0 auto;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-type {
  text-align: left;
  padding-bottom: 0.6em;
}

.input-box-msg {
  resize: both;
}

input,
textarea {
  width: 100%;
  border-radius: 0.5em;
  background-color: var(--head-foot-col);
  outline: 1px solid var(--slider-box-col);
  border: 2px solid transparent;
  padding: 0.5em;
}

textarea {
  resize: both;
}

input:hover,
textarea:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  border: 2px solid var(--dark-font-col);
}

.input--invalid {
  border: 2px solid var(--error-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--dark-font-col);
  opacity: 1;
}

.firstNameError,
.lastNameError,
.emailError,
.messageError,
.submitError {
  text-align: right;
  font-weight: bold;
  color: var(--error-color);
  padding: 0.5em 0 1.5em 0;
  visibility: hidden;
}

.firstNameError:focus,
.lastNameError:focus,
.emailError:focus,
.messageError:focus,
.submitError:focus {
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--error-color);
}

.send-contact {
  padding: 0.5em 2em 0.5em 2em;
  margin-bottom: 1em;
  max-width: min-content;
  border-radius: 0.5em;
  border: 2px solid transparent;
  outline: 1px solid var(--slider-box-col);
}

.send-contact:hover {
  background-color: var(--dark-font-col);
  color: var(--light-font-col);
  cursor: pointer;
}

.send-contact:focus {
  border: 2px solid var(--dark-font-col);
}

/* Footer */

.footer-div {
  grid-area: footer;
  background-color: var(--head-foot-col);
  padding: 1ch;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div p {
  color: var(--dark-font-col);
}

/* Media Queries */

@media (min-width: 600px) and (orientation: portrait) {
  .menu-items.active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-top: -0.5em;
  }

  .menu-btn {
    width: 12ch;
    min-height: 4ch;
  }

  .home-link,
  .gals-link,
  .about-link,
  .contact-link {
    margin-top: 0;
  }

  .home-link.selected,
  .gals-link.selected,
  .about-link.selected,
  .contact-link.selected {
    border-radius: 0 0 1em 1em;
  }

  .dropdown-content--active li.dropdown-item--active {
    border-radius: 0.8em;
    width: min-content;
  }

  .home-box {
    gap: 4em;
  }

  .cta-btn {
    font-size: 1.5rem;
  }

  .pause-icon,
  .play-icon {
    width: 4em;
  }

  .arrow {
    width: 5ch;
  }

  .img-dots-container {
    max-width: 30em;
  }

  .circle-icon {
    width: 1.8ch;
    height: 1.8ch;
    margin: 1.6ch;
  }

  .about-text-div {
    max-width: 45em;
  }

  fieldset {
    max-width: 30em;
  }

  .footer-div {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) and (orientation: portrait) {
  .menu-icon {
    width: 4ch;
  }

  .menu-btn {
    font-size: 1.3rem;
  }

  .menu-items.active {
    gap: 2em;
  }

  .home {
    background-image: image-set(
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-800p.webp)
        type("image/webp"),
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-800p.jpg)
        type("image/jpg")
    );
  }

  .logo-box {
    margin: 5em auto;
  }

  .home-box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cta-btn {
    padding: 2.5em 3em;
  }

  .thumbnails {
    align-content: flex-start;
    margin: 3em 0;
    gap: 3em;
  }

  .arrow {
    width: 8ch;
  }

  .circle-icon {
    width: 2.8ch;
    height: 2.8ch;
    margin: 2.5ch;
  }

  .about {
    background-image: image-set(
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-800p.webp)
        ("type/webp"),
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-800p.jpg)
        type(image/jpg)
    );
  }

  .bosco-entry {
    font-size: 1.5rem;
  }

  .about-box {
    font-size: 2rem;
  }

  .contact-header {
    font-size: 3rem;
  }

  .required-text,
  .form-disabled {
    font-size: 2.5rem;
  }

  form {
    margin: 2em 0;
  }

  fieldset {
    max-width: 38em;
  }

  label {
    padding: 0;
    font-size: 2rem;
  }

  input,
  textarea {
    font-size: 1.7rem;
  }

  .send-contact {
    font-size: 2.2rem;
  }

  .footer-div {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) and (orientation: portrait) {
  .menu-icon {
    width: 5ch;
  }

  .menu-btn {
    font-size: 1.8rem;
  }

  .menu-items.active {
    gap: 4em;
  }

  .home {
    background-image: image-set(
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-1200p.webp)
        type("image/webp"),
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-vertical-1200p.jpg)
        type("image/jpg")
    );
  }

  .cta-btn {
    font-size: 2.3rem;
  }

  .arrow {
    width: 10ch;
  }

  .img-dots-container {
    max-width: 45em;
  }

  .circle-icon {
    width: 3ch;
    height: 3ch;
    margin: 3ch;
  }

  .about {
    background-image: image-set(
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-1200p.webp)
        type("image/webp"),
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-vertical-1200p.jpg)
        type("image/jpg")
    );
  }

  .about-text-div {
    max-width: 60em;
    margin: auto;
  }

  .bosco-entry {
    font-size: 2.5rem;
  }

  .about-box {
    font-size: 3rem;
  }

  fieldset {
    max-width: 45em;
  }

  .footer-div {
    font-size: 1.8rem;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .menu-icon {
    width: 3ch;
  }

  .menu-items.active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-top: -0.5em;
  }

  .menu-btn {
    width: 12ch;
    min-height: 4ch;
  }

  .home-link,
  .gals-link,
  .about-link,
  .contact-link {
    margin-top: 0;
  }

  .home-link.selected,
  .gals-link.selected,
  .about-link.selected,
  .contact-link.selected {
    border-radius: 0 0 1em 1em;
  }

  .dropdown-content--active li.dropdown-item--active {
    border-radius: 0.8em;
    width: min-content;
  }

  .home {
    background-image: image-set(
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-800p.webp)
        type("image/webp"),
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-800p.jpg)
        type("image/jpg")
    );
    gap: 2em;
  }

  .logo-box {
    min-width: 70%;
    margin: 2em auto 0 auto;
  }

  .home-box {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 2em 0 3em 0;
  }

  .pause-icon,
  .play-icon {
    width: 4em;
  }

  .arrow {
    width: 5ch;
  }

  .img-dots-container {
    margin: 1em 0;
    max-width: 25em;
  }

  circle-icon {
    width: 1.4ch;
    height: 1.4ch;
    margin: 1.4ch;
  }

  .about {
    background-image: image-set(
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-800p.webp)
        type("image/webp"),
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-800p.jpg)
        type("image/jpg")
    );
  }

  .about-text-div {
    max-width: 50em;
  }

  fieldset {
    max-width: 30em;
  }

  .send-contact {
    font-size: 1.2rem;
  }
}

@media (min-width: 950px) and (orientation: landscape) {
  .menu-items.active {
    gap: 2em;
  }

  .home {
    background-image: image-set(
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1200p.webp)
        type("image/webp"),
      url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1200p.jpg)
        type("image/jpg")
    );
  }

  .thumbnails {
    align-content: flex-start;
    margin: 3em 0 0 0;
  }

  .arrow {
    width: 5ch;
  }

  .img-dots-container {
    max-width: 35em;
  }

  .about {
    background-image: image-set(
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1200p.webp)
        type("image/webp"),
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1200p.jpg)
        type("image/jpg")
    );
    grid-template-columns: repeat(2, 1fr);
  }

  .about-text-div {
    margin: 3em 0 3em 2em;
  }

  .contact-header {
    font-size: 1.8rem;
  }

  .required-text,
  .form-disabled {
    font-size: 1.2rem;
  }

  form {
    padding-top: 4em;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .menu-icon {
    width: 3.5ch;
  }

  .menu-btn {
    font-size: 1.2rem;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .logo-box {
    min-width: 90%;
    margin: auto 0 auto 4em;
  }

  .home-box {
    justify-content: space-evenly;
    gap: 0;
    margin: 0;
  }

  .cta-btn {
    font-size: 1.2rem;
  }

  .thumbnails {
    gap: 4em;
  }

  .arrow {
    width: 7ch;
  }

  .circle-icon {
    width: 2ch;
    height: 2ch;
    margin: 2ch;
  }

  .footer-div {
    font-size: 1.2rem;
  }
}

@media (min-width: 1800px) and (orientation: landscape) {
  .menu-icon {
    width: 5ch;
  }

  .menu-btn {
    font-size: 1.8rem;
  }

  .menu-items.active {
    gap: 4em;
  }

  .home {
    background-image: image-set(
        url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1600p.webp)
          type("image/webp"),
        url(../src/assets/imgs/home-imgs/Guneratne_2024.06.09_home-horizontal-1600p.jpg)
      )
      type("image/jpg");
  }

  .logo-box {
    margin: auto 0 auto 3em;
  }

  .cta-btn {
    font-size: 1.8rem;
  }

  .thumbnails {
    gap: 6em;
  }

  .play-icon,
  .pause-icon {
    width: 5em;
  }

  .arrow {
    width: 10ch;
  }

  .img-dots-container {
    max-width: 50em;
  }

  .circle-icon {
    width: 3ch;
    height: 3ch;
    margin: 3ch;
  }

  .about {
    background-image: image-set(
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1600p.webp)
        type("image/webp"),
      url(../src/assets/imgs/about-page/Guneratne_2023.10.01_about-horizontal-1600p.jpg)
        type("image/jpg")
    );
  }

  .about-text-div {
    margin: 5em 0 0 5em;
  }

  .contact-header {
    font-size: 2.5rem;
  }

  .required-text,
  .form-disabled {
    font-size: 2rem;
  }

  fieldset {
    max-width: 40em;
  }

  label {
    font-size: 1.5rem;
  }

  input,
  textarea {
    font-size: 1.2rem;
  }

  .send-contact {
    font-size: 1.8rem;
  }

  .footer-div {
    font-size: 1.8rem;
  }
}

@media (prefers-reduced-motion) {
  .menu-items {
    animation: none;
  }

  .gal-arrow {
    transition: none;
  }

  .dropdown-content--active li.dropdown-item--active {
    animation: none;
  }
}
