* {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;

  --main-col: #fffbeb;
  --head-foot-col: #cfe6ea;
  --dropdown-item-col: rgba(235, 219, 188, 0.7);
  --dropdown-item-col-hov: rgba(235, 219, 188, 1);
  --slider-box-col: #f7fcfc;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-webkit-keyframes slide-down-reverse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-10px);
  }
}

.container {
  max-width: 100rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

/* Header Content */

.header {
  background-color: var(--head-foot-col);
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  padding-right: 8ch;
  padding-top: 2ch;
  padding-bottom: 0;
}

.menu-items {
  max-width: 60rem;
  height: 6ch;
  display: flex;
  gap: 1.5ch;
}

ul {
  list-style-type: "✓";
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.dropdown-div {
  position: relative;
  width: 14ch;
}

.gal-btn-div {
  display: flex;
}

.menu-btn,
.menu-btn a,
.dropdown-btn {
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 12ch;
  padding: 2ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-btn {
  width: 17ch;
}

/* Set pseudo-element to preset width of element; prevents hover from changing size of element when bold */
.menu-btn:after,
.dropdown-btn:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.menu-btn:hover,
.menu-btn:focus,
.menu-btn.selected,
.gal-btn-div:hover,
.gal-btn-div:focus {
  background-color: var(--main-col);
  border-radius: 2ch 2ch 0 0;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.gal-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  margin-left: -1.9ch;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  color: black;
  z-index: 10;
  top: 3.5ch;
  visibility: hidden;
}

.dropdown-content--active {
  visibility: visible;
}

.dropdown-div .gal-arrow--active {
  transform: rotate(180deg);
}

.dropdown-content--active li.dropdown-item--active {
  -webkit-animation: slide-down 0.5s ease-in-out both;
  background: var(--dropdown-item-col);
  border-radius: 0.5em;
  color: black;
  text-align: center;
  position: relative;
}

.dropdown-content li:not(:first-child) {
  margin-top: 0.5ch;
}

.dropdown-content li:hover {
  background: var(--dropdown-item-col-hov);
  text-decoration: underline;
}

.dropdown-content--active li:first-child a {
  display: block;
  padding: 0.7em 0.5em;
  color: black;
  margin-top: 2ch;
  text-decoration: none;
}

.dropdown-content--active li a {
  display: block;
  padding: 0.7em 0.5em;
  color: black;
  margin: 0.1em 0;
  text-decoration: none;
}

/* Main Content */

.main {
  grid-area: main; /*  Main area contains content tabs and footer */
  background-color: var(--main-col);
  overflow: scroll;
}

.main .content-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "images"
    "footer";
}

h2 {
  text-align: center;
  margin-top: 3ch;
}

/* Home Tab */

.tab-content {
  display: none;
}

.tab-content--selected {
  display: initial;
}

.pic-div {
  width: 100%;
  height: 100%;
}

.pic-div picture img {
  grid-area: images;
  vertical-align: middle; /* Removes padding added to picture at bottom */
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* Galleries */

.content-box .gallery {
  grid-area: images;
  padding-top: 4ch;
  padding-bottom: 4ch;
  display: grid;
  grid-template-columns: 1fr minmax(20rem, 80rem) 1fr;
}

.slider-box {
  grid-area: 1 / 2 / 2 / 3;
  border: 1px solid black;
  background-color: var(--slider-box-col);
  min-height: 0.625rem;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 10fr 1fr;
  align-content: center;
  justify-items: center;
}

.back-arrow {
  grid-area: 1 / 1 / 3 / 2;
}

.img-dots-container {
  grid-area: 2 / 2 / 3 / 3;
  max-width: 40rem;
}

.img-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon-div {
  height: 100%;
}

.circle-icon {
  width: 2ch;
  height: 2ch;
  margin: 2ch;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

.circle-icon-div--active {
  background-color: transparent;
}

.circle-icon--active {
  background-color: lightgray;
}

.forward-arrow {
  grid-area: 1 / 3 / 3 / 4;
}

.back-arrow,
.forward-arrow {
  width: min-content;
  justify-self: center;
}

.arrow {
  width: 5ch;
}

.photo-box {
  padding: 3ch 0 2ch 0;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.photo-box picture {
  vertical-align: middle; /* Removes padding added to picture at bottom */
  grid-area: 1 / 1 / 2 / 2;
  transition: visibility 0s 500ms, opacity 500ms linear;
  visibility: hidden;
  opacity: 0;
}

.photo-box .picture--active {
  grid-area: 1 / 1 / 2 / 2;
  transition: opacity 500ms linear;
  visibility: visible;
  opacity: 1;
}

.photo-box img {
  width: 50rem;
}

/* Footer */

.main .footer-div {
  grid-area: footer;
  background-color: var(--head-foot-col);
  padding: 1ch;
}

.main .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .footer .copyright-div {
  display: grid;
  align-content: center;
}

.main .footer p {
  text-align: right;
  vertical-align: middle;
  align-self: center;
  height: min-content;
  margin-right: 1ch;
}

.main .footer .logo-div a {
  text-align: left;
  height: min-content;
  margin-left: 1ch;
}

.main .footer .logo-div a img {
  max-height: 3ch;
}
