<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="menu-items" id="tabs">
          <div class="menu-btn" data-tab="home" title="Home">
            <li>
              <a href="#home">Home</a>
            </li>
          </div>

          <div
            class="dropdown-div menu-btn dropdown-btn"
            data-tab="galleries"
            title="Galleries"
          >
            <div class="gal-btn-div">
              <ul>
                <li>
                  <a href="#galleries">Galleries</a>
                </li>
              </ul>

              <div class="gal-arrow"></div>
            </div>

            <ul class="dropdown-content">
              <li class="dropdown-item" style="--delay: 1" title="Wildlife">
                <a href="#wildlife-gallery">Wildlife</a>
              </li>
              <li class="dropdown-item" style="--delay: 2" title="Insects">
                <a href="#insect-gallery">Insects</a>
              </li>
            </ul>
          </div>

          <div class="menu-btn" data-tab="about" title="About">
            <li>
              <a href="#about">About</a>
            </li>
          </div>

          <div class="menu-btn" data-tab="contact" title="Contact">
            <li>
              <a href="#contact">Contact</a>
            </li>
          </div>
        </ul>
      </div>

      <div class="main">
        <div class="content-box">
          <!-- HOME PAGE -->
          <div class="tab-content" id="home">
            <div class="home">
              <h2>Home Content Coming Soon!</h2>
            </div>
          </div>

          <!-- FIRST GALLERY -->
          <div class="tab-content" id="wildlife-gallery">
            <div class="gallery wildlife-gallery">
              <h2>Wildlife Gallery Coming Soon!</h2>
            </div>
          </div>

          <!-- SECOND GALLERY -->
          <div class="tab-content" id="insect-gallery">
            <div class="gallery insect-gallery">
              <h2>Insect Gallery Coming Soon!</h2>
            </div>
          </div>

          <!-- ABOUT -->
          <div class="tab-content" id="about">
            <div class="about">
              <h2>About Content Coming Soon!</h2>
            </div>
          </div>

          <!-- CONTACT -->
          <div class="tab-content" id="contact">
            <div class="contact">
              <h2>Contact Form Coming Soon!</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-div">
        <div class="footer">
          <div class="copyright-div">
            <p class="my-copyright">Jenn Guneratne © 2023</p>
          </div>

          <div class="logo-div">
            <a
              href="https://github.com/jguneratne/photo-gallery"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="<%=require('../src/assets/imgs/GitHub-Mark-32px.png') %>"
                alt="Octocat GitHub Logo"
                class="github-logo"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
