<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>
  <body>
    <div class="container"></div>
    <header class="photo-banner"></header>
    <div class="main">
      <div class="left-nav"></div>
      <div class="content-box"></div>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
